In [23]:
#CONNECTING TO THE "environmental_db" DATABASE IN MONGODB

In [128]:
from pymongo import MongoClient

In [129]:
from pymongo import InsertOne, DeleteMany, ReplaceOne, UpdateOne

In [130]:
import dns

In [131]:
client = MongoClient("mongodb+srv://environmental:environmental@cluster0-jq5lb.mongodb.net/<dbname>?retryWrites=true&w=majority")

In [132]:
db = client.get_database("environmental_db")

In [133]:
import pandas as pd

In [134]:
#CONNECTING TO THE "theme_result_count" collection inside "environmental_db"

In [135]:
totalresults = db.theme_result_count

In [136]:
test = db.test

In [137]:
#CONNECTING TO NEWS API

In [138]:
from newsapi import NewsApiClient

In [139]:
newsapi = NewsApiClient (api_key = "b06ae19f311b49728f5efc06a43767aa")

In [36]:
#GET REQUEST TO THE NEWS API --> A DICTIONARY

In [37]:
#ENGLAND

In [227]:
data_england_transportation = newsapi.get_everything(q="(environment OR (climate change) OR (global warming) OR sustainability) AND ((transportation sector) OR (transportation industry) OR transport)", domains="bbc.co.uk, independent.co.uk, mirror.co.uk, thesun.co.uk, dailymail.co.uk, metro.co.uk")

In [39]:
type(data_england_transportation)

dict

In [40]:
data_england_transportation.keys()

dict_keys(['status', 'totalResults', 'articles'])

In [41]:
title=data_england_transportation["articles"]

In [42]:
articles = data_england_transportation["totalResults"]

In [43]:
print(data_england_transportation["totalResults"])

162

In [226]:
data_england_transportation()

In [44]:
for x, y, in enumerate(articles): 
    print(x ,y["title"]:
             if i == 0:
)

SyntaxError: invalid syntax (<ipython-input-44-7e5dc6497be6>, line 2)

In [45]:
df = pd.Dataframe(articles)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [ ]:
df["title"]

In [46]:
df1 = df[["title"]]

NameError: name 'df' is not defined

In [47]:
df1.index=df.index+1

NameError: name 'df' is not defined

In [48]:
df1.loc[[1]]

NameError: name 'df1' is not defined

In [49]:
type(data_england_transportation["totalResults"])

int

In [50]:
type(data_england_transportation["articles"])

list

In [141]:
data_england_air = newsapi.get_everything(q="(environment OR (global warming) OR climate OR (climate change) OR sustainability) AND (air OR atmosphere)", domains="bbc.co.uk, independent.co.uk, mirror.co.uk, thesun.co.uk, dailymail.co.uk, metro.co.uk")

In [142]:
data_england_ocean = newsapi.get_everything(q="(environment OR (climate change) OR (global warming) OR sustainability) AND (ocean OR sea)", domains="bbc.co.uk, independent.co.uk, mirror.co.uk, thesun.co.uk, dailymail.co.uk, metro.co.uk")

In [143]:
data_england_co2Emission = newsapi.get_everything(q="(environment OR (climate change) OR (global warming) OR sustainability) AND ((co2 emission) OR (carbon dioxide emission))", domains="bbc.co.uk, independent.co.uk, mirror.co.uk, thesun.co.uk, dailymail.co.uk, metro.co.uk")

In [144]:
data_england_foodIndustry = newsapi.get_everything(q="(environment OR (climate change) OR (global warming) OR sustainability) AND ((meat industry) OR (food industry))", domains="bbc.co.uk, independent.co.uk, mirror.co.uk, thesun.co.uk, dailymail.co.uk, metro.co.uk")

In [145]:
data_england_forests = newsapi.get_everything(q="(environment OR (climate change) OR (global warming) OR sustainability) AND (forest OR forests)", domains="bbc.co.uk, independent.co.uk, mirror.co.uk, thesun.co.uk, dailymail.co.uk, metro.co.uk")

In [146]:
data_england_fashion = newsapi.get_everything(q="(environment OR (climate change) OR (global warming) OR sustainability) AND ((fast fashion) OR (fashion industry) OR fashion)", domains="bbc.co.uk, independent.co.uk, mirror.co.uk, thesun.co.uk, dailymail.co.uk, metro.co.uk")

In [147]:
#FRANCE

In [148]:
data_france_air = newsapi.get_everything(q="(l'environnement OR (changement climatique) OR (réchauffement climatique) OR durabilité) AND air", domains="lemonde.fr, lequipe.fr, lesechos.fr, liberation.fr, lefigaro.fr, leparisien.fr, mediapart.fr, lexpress")

In [149]:
data_france_ocean = newsapi.get_everything(q="(l'environnement OR (changement climatique) OR (réchauffement climatique) OR durabilité) AND (océan OR mer)", domains="lemonde.fr, lequipe.fr, lesechos.fr, liberation.fr, lefigaro.fr, leparisien.fr, mediapart.fr, lexpress")

In [150]:
data_france_co2Emission = newsapi.get_everything(q="(l'environnement OR (changement climatique) OR (réchauffement climatique) OR durabilité) AND ((émissions de CO2) OR (émission de dioxyde de carbone))", domains="lemonde.fr, lequipe.fr, lesechos.fr, liberation.fr, lefigaro.fr, leparisien.fr, mediapart.fr, lexpress")

In [151]:
data_france_foodIndustry = newsapi.get_everything(q="(l'environnement OR (changement climatique) OR (réchauffement climatique) OR durabilité) AND ((industrie de la viande) OR (industrie alimentaire))", domains="lemonde.fr, lequipe.fr, lesechos.fr, liberation.fr, lefigaro.fr, leparisien.fr, mediapart.fr, lexpress")

In [152]:
data_france_forests = newsapi.get_everything(q="(l'environnement OR (changement climatique) OR (réchauffement climatique) OR durabilité) AND ((les forêts) OR forêts)", domains="lemonde.fr, lequipe.fr, lesechos.fr, liberation.fr, lefigaro.fr, leparisien.fr, mediapart.fr, lexpress")

In [153]:
data_france_fashion = newsapi.get_everything(q="(l'environnement OR (changement climatique) OR (réchauffement climatique) OR durabilité) AND ((industrie de la mode) OR mode OR (mode rapide))", domains="lemonde.fr, lequipe.fr, lesechos.fr, liberation.fr, lefigaro.fr, leparisien.fr, mediapart.fr, lexpress")

In [154]:
data_france_transportation = newsapi.get_everything(q="(l'environnement OR (changement climatique) OR (réchauffement climatique) OR durabilité) AND ((secteur des transports) OR (industrie du transport) OR transport)", domains="lemonde.fr, lequipe.fr, lesechos.fr, liberation.fr, lefigaro.fr, leparisien.fr, mediapart.fr, lexpress")

In [155]:
#GERMANY

In [156]:
data_germany_air = newsapi.get_everything(q="(umwelt OR klimawandel OR (globale Erwärmung) OR nachhaltigkeit) AND (luft OR atmosphäre)", domains="tagesschau.de, t-online.de, bild.de, golem.de, tagesschau.de, faz.net, focus.de, gruenderszene.de, handelsblatt.com, t3n.de, wiwo.de, sueddeutsche.de, welt.de, taz.de, neues-deutschland.de")

In [157]:
data_germany_ocean = newsapi.get_everything(q="(umwelt OR klimawandel OR (globale Erwärmung) OR nachhaltigkeit) AND (ozean OR meer)", domains="tagesschau.de, t-online.de, bild.de, golem.de, tagesschau.de, faz.net, focus.de, gruenderszene.de, handelsblatt.com, t3n.de, wiwo.de, sueddeutsche.de, welt.de, taz.de, neues-deutschland.de")

In [158]:
data_germany_co2Emission = newsapi.get_everything(q="(umwelt OR klimawandel OR (globale Erwärmung) OR nachhaltigkeit) AND ((CO2-emission) OR (CO2 emission) OR (kohlenstoffdioxid ausstoß))", domains="tagesschau.de, t-online.de, bild.de, golem.de, tagesschau.de, faz.net, focus.de, gruenderszene.de, handelsblatt.com, t3n.de, wiwo.de, sueddeutsche.de, welt.de, taz.de, neues-deutschland.de")

In [159]:
data_germany_foodIndustry = newsapi.get_everything(q="(umwelt OR klimawandel OR (globale Erwärmung) OR nachhaltigkeit) AND (fleischindustrie OR nahrungsmittelindustrie)", domains="tagesschau.de, t-online.de, bild.de, golem.de, tagesschau.de, faz.net, focus.de, gruenderszene.de, handelsblatt.com, t3n.de, wiwo.de, sueddeutsche.de, welt.de, taz.de, neues-deutschland.de")

In [160]:
data_germany_forests = newsapi.get_everything(q="(umwelt OR klimawandel OR (globale Erwärmung) OR nachhaltigkeit) AND (wald OR wälder)", domains="tagesschau.de, t-online.de, bild.de, golem.de, tagesschau.de, faz.net, focus.de, gruenderszene.de, handelsblatt.com, t3n.de, wiwo.de, sueddeutsche.de, welt.de, taz.de, neues-deutschland.de")

In [161]:
data_germany_fashion = newsapi.get_everything(q="(umwelt OR klimawandel OR globale Erwärmung OR nachhaltigkeit) AND (schnelle mode OR mode industrie OR mode)", domains="tagesschau.de, t-online.de, bild.de, golem.de, tagesschau.de, faz.net, focus.de, gruenderszene.de, handelsblatt.com, t3n.de, wiwo.de, sueddeutsche.de, welt.de, taz.de, neues-deutschland.de")

In [162]:
data_germany_transportation = newsapi.get_everything(q="(umwelt OR klimawandel OR globale Erwärmung OR nachhaltigkeit) AND (verkehrssektor OR transportindustrie OR transport)", domains="tagesschau.de, t-online.de, bild.de, golem.de, tagesschau.de, faz.net, focus.de, gruenderszene.de, handelsblatt.com, t3n.de, wiwo.de, sueddeutsche.de, welt.de, taz.de, neues-deutschland.de")

In [163]:
#SPAIN

In [164]:
data_spain_air = newsapi.get_everything(q="((el medio ambiente) OR (cambio climático) OR (calentamiento global) OR sostenibilidad OR sustentabilidad) AND (aire OR atmósfera)", domains="marca.com, elpais.com, as.com, elmundo.es, lavanguardia.com")

In [165]:
data_spain_ocean = newsapi.get_everything(q="((el medio ambiente) OR (cambio climático) OR (calentamiento global) OR sostenibilidad OR sustentabilidad) AND (oceano OR mar)", domains="marca.com, elpais.com, as.com, elmundo.es, lavanguardia.com")

In [166]:
data_spain_co2Emission = newsapi.get_everything(q="((el medio ambiente) OR (cambio climático) OR (calentamiento global) OR sostenibilidad OR sustentabilidad) AND ((emisión de CO2) OR (emisión de dióxido de carbono))", domains="marca.com, elpais.com, as.com, elmundo.es, lavanguardia.com")

In [167]:
data_spain_foodIndustry = newsapi.get_everything(q="((el medio ambiente) OR (cambio climático) OR (calentamiento global) OR sostenibilidad OR sustentabilidad) AND ((industria cárnica) OR (industria de alimentos))", domains="marca.com, elpais.com, as.com, elmundo.es, lavanguardia.com")

In [168]:
data_spain_forests = newsapi.get_everything(q="((el medio ambiente) OR (cambio climático) OR (calentamiento global) OR sostenibilidad OR sustentabilidad) AND (bosque OR bosques)", domains="marca.com, elpais.com, as.com, elmundo.es, lavanguardia.com")

In [169]:
data_spain_fashion = newsapi.get_everything(q="((el medio ambiente) OR (cambio climático) OR (calentamiento global) OR sostenibilidad OR sustentabilidad) AND ((moda rapida) OR (industria de la moda) OR moda)", domains="marca.com, elpais.com, as.com, elmundo.es, lavanguardia.com")

In [170]:
data_spain_transportation = newsapi.get_everything(q="((el medio ambiente) OR (cambio climático) OR (calentamiento global) OR sostenibilidad OR sustentabilidad) AND ((sector de transporte) OR (industria del transporte) OR transporte)", domains="marca.com, elpais.com, as.com, elmundo.es, lavanguardia.com")

In [171]:
#POLAND

In [172]:
data_poland_air = newsapi.get_everything(q="(środowisko OR (zmiana klimatu) OR (globalne ocieplenie) OR (zrównoważony rozwój)) AND (powietrze OR atmosfera)", domains="wyborcza.pl")

In [173]:
data_poland_ocean = newsapi.get_everything(q="(środowisko OR (zmiana klimatu) OR (globalne ocieplenie) OR (zrównoważony rozwój)) AND (ocean OR morze)", domains="wyborcza.pl")

In [174]:
data_poland_co2Emission = newsapi.get_everything(q="(środowisko OR (zmiana klimatu) OR (globalne ocieplenie) OR (zrównoważony rozwój)) AND ((emisja co2) OR (emisja dwutlenku węgla))", domains="wyborcza.pl")

In [175]:
data_poland_foodIndustry = newsapi.get_everything(q="(środowisko OR (zmiana klimatu) OR (globalne ocieplenie) OR (zrównoważony rozwój)) AND ((przemysł mięsny) OR (przemysł spożywczy))", domains="wyborcza.pl")

In [176]:
data_poland_forests = newsapi.get_everything(q="(środowisko OR (zmiana klimatu) OR (globalne ocieplenie) OR (zrównoważony rozwój)) AND (las OR lasy)", domains="wyborcza.pl")

In [177]:
data_poland_fashion = newsapi.get_everything(q="(środowisko OR (zmiana klimatu) OR (globalne ocieplenie) OR (zrównoważony rozwój)) AND ((szybka moda) OR (przemysł mody) OR moda)", domains="wyborcza.pl")

In [178]:
data_poland_transportation = newsapi.get_everything(q="(środowisko OR (zmiana klimatu) OR (globalne ocieplenie) OR (zrównoważony rozwój)) AND ((sektor transportu) OR (przemysł transportowy) OR transport)", domains="wyborcza.pl")

In [179]:
#ITALY

In [180]:
data_italy_air = newsapi.get_everything(q="(l'ambiente OR (cambiamento climatico) OR (riscaldamento globale) OR sostenibilità) AND (aria OR l'atmosfera)", domains="corriere.it, repubblica.it, ilsole24ore.com, lastampa.it, gazzetta.it")

In [181]:
data_italy_ocean = newsapi.get_everything(q="(l'ambiente OR (cambiamento climatico) OR (riscaldamento globale) OR sostenibilità) AND (oceano OR mare)", domains="corriere.it, repubblica.it, ilsole24ore.com, lastampa.it, gazzetta.it")

In [182]:
data_italy_co2Emission = newsapi.get_everything(q="(l'ambiente OR (cambiamento climatico) OR (riscaldamento globale) OR sostenibilità) AND ((emissione di CO2) OR (emissione di anidride carbonica))", domains="corriere.it, repubblica.it, ilsole24ore.com, lastampa.it, gazzetta.it")

In [183]:
data_italy_foodIndustry = newsapi.get_everything(q="(l'ambiente OR (cambiamento climatico) OR (riscaldamento globale) OR sostenibilità) AND ((industria della carne) OR (industria alimentare))", domains="corriere.it, repubblica.it, ilsole24ore.com, lastampa.it, gazzetta.it")

In [184]:
data_italy_forests = newsapi.get_everything(q="(l'ambiente OR (cambiamento climatico) OR (riscaldamento globale) OR sostenibilità) AND (foresta OR foresta)", domains="corriere.it, repubblica.it, ilsole24ore.com, lastampa.it, gazzetta.it")

In [185]:
data_italy_fashion = newsapi.get_everything(q="(l'ambiente OR (cambiamento climatico) OR (riscaldamento globale) OR sostenibilità) AND ((moda veloce) OR (industria della moda) OR moda)", domains="corriere.it, repubblica.it, ilsole24ore.com, lastampa.it, gazzetta.it")

In [186]:
data_italy_transportation = newsapi.get_everything(q="(l'ambiente OR (cambiamento climatico) OR (riscaldamento globale) OR sostenibilità) AND ((settore dei trasporti) OR (industria dei trasporti) OR transporto)", domains="corriere.it, repubblica.it, ilsole24ore.com, lastampa.it, gazzetta.it")

In [187]:
#RUSSIA

In [188]:
data_russia_air = newsapi.get_everything(q="(окружающую OR (изменение климата) OR (глобальное потепление) OR устойчивость) AND воздуха", domains="lenta.ru, iz.ru, aif.ru, ferra.ru, kommersant.ru, vedomosti.ru")

In [189]:
data_russia_ocean = newsapi.get_everything(q="(окружающую OR (изменение климата) OR (глобальное потепление) OR устойчивость) AND (океан OR море)", domains="lenta.ru, iz.ru, aif.ru, ferra.ru, kommersant.ru, vedomosti.ru")

In [190]:
data_russia_co2Emission = newsapi.get_everything(q="(окружающую OR (изменение климата) OR (глобальное потепление) OR устойчивость) AND ((выброс СО2) OR (выброс углекислого газа))", domains="lenta.ru, iz.ru, aif.ru, ferra.ru, kommersant.ru, vedomosti.ru")

In [191]:
data_russia_foodIndustry = newsapi.get_everything(q="(окружающую OR (изменение климата) OR (глобальное потепление) OR устойчивость) AND ((мясная промышленность) OR (пищевая промышленность))", domains="lenta.ru, iz.ru, aif.ru, ferra.ru, kommersant.ru, vedomosti.ru")

In [192]:
data_russia_forests = newsapi.get_everything(q="(окружающую OR (изменение климата) OR (глобальное потепление) OR устойчивость) AND (лес OR леса)", domains="lenta.ru, iz.ru, aif.ru, ferra.ru, kommersant.ru, vedomosti.ru")

In [193]:
data_russia_fashion = newsapi.get_everything(q="(окружающую OR (изменение климата) OR (глобальное потепление) OR устойчивость) AND ((быстрая мода) OR (индустрия моды) OR мода)", domains="lenta.ru, iz.ru, aif.ru, ferra.ru, kommersant.ru, vedomosti.ru")

In [194]:
data_russia_transportation = newsapi.get_everything(q="(окружающую OR (изменение климата) OR (глобальное потепление) OR устойчивость) AND ((транспортный сектор) OR (транспортная индустрия) OR транспорт)", domains="lenta.ru, iz.ru, aif.ru, ferra.ru, kommersant.ru, vedomosti.ru")

In [195]:
#GREECE

In [196]:
data_greece_air = newsapi.get_everything(q='(environment OR (climate change) OR (global warming) OR sustainability OR περιβάλλον OR περιβάλλοντος OR περιβαλλοντικών OR περιβαλλοντικές OR περιβαλλοντική OR (κλιματική αλλαγή) OR (κλιματικές αλλαγές) OR (φαινόμενο του θερμοκηπίου) OR (υπερθέρμανση του πλανήτη) OR βιωσιμότητα) AND (αέρας OR αέρα OR ατμόσφαιρα OR ατμοσφαιρική OR ατμόσφαιρες)', domains='naftemporiki.gr, tanea.gr, avgi.gr, protothema.gr, tovima.gr, skai.gr')

In [197]:
data_greece_ocean = newsapi.get_everything(q='(environment OR (climate change) OR (global warming) OR sustainability OR περιβάλλον OR περιβάλλοντος OR περιβαλλοντικών OR περιβαλλοντικές OR περιβαλλοντική OR (κλιματική αλλαγή) OR (κλιματικές αλλαγές) OR (φαινόμενο του θερμοκηπίου) OR (υπερθέρμανση του πλανήτη) OR βιωσιμότητα) AND (ωκεανός OR ωκεανοί OR θάλασσα OR θάλασσες)', domains='naftemporiki.gr, tanea.gr, avgi.gr, protothema.gr, tovima.gr, skai.gr')

In [198]:
data_greece_co2Emission = newsapi.get_everything(q='(environment OR (climate change) OR (global warming) OR sustainability OR περιβάλλον OR περιβάλλοντος OR περιβαλλοντικών OR περιβαλλοντικές OR περιβαλλοντική OR (κλιματική αλλαγή) OR (κλιματικές αλλαγές) OR (φαινόμενο του θερμοκηπίου) OR (υπερθέρμανση του πλανήτη) OR βιωσιμότητα) AND ((co2 emission) OR (διοξείδιο του άνθρακα) OR (διοξειδίου του άνθρακα))', domains='naftemporiki.gr, tanea.gr, avgi.gr, protothema.gr, tovima.gr, skai.gr')

In [199]:
data_greece_foodIndustry = newsapi.get_everything(q='(environment OR (climate change) OR (global warming) OR sustainability OR περιβάλλον OR περιβάλλοντος OR περιβαλλοντικών OR περιβαλλοντικές OR περιβαλλοντική OR (κλιματική αλλαγή) OR (κλιματικές αλλαγές) OR (φαινόμενο του θερμοκηπίου) OR (υπερθέρμανση του πλανήτη) OR βιωσιμότητα) AND ((βιομηχανία του κρέατος) OR τρόφιμα OR τρόφιμο)', domains='naftemporiki.gr, tanea.gr, avgi.gr, protothema.gr, tovima.gr, skai.gr')

In [200]:
data_greece_forests = newsapi.get_everything(q='(environment OR (climate change) OR (global warming) OR sustainability OR περιβάλλον OR περιβάλλοντος OR περιβαλλοντικών OR περιβαλλοντικές OR περιβαλλοντική OR (κλιματική αλλαγή) OR κλιματικές αλλαγές OR (φαινόμενο του θερμοκηπίου) OR (υπερθέρμανση του πλανήτη) OR βιωσιμότητα) AND (δάσος OR δάσοι OR δέντρα OR αποψίλωση  OR forests)', domains='naftemporiki.gr, tanea.gr, avgi.gr, protothema.gr, tovima.gr, skai.gr')

In [201]:
data_greece_fashion = newsapi.get_everything(q='(environment OR (climate change) OR (global warming) OR sustainability OR περιβάλλον OR περιβάλλοντος OR περιβαλλοντικών OR περιβαλλοντικές OR περιβαλλοντική OR (κλιματική αλλαγή) OR (κλιματικές αλλαγές) OR (φαινόμενο του θερμοκηπίου) OR (υπερθέρμανση του πλανήτη) OR βιωσιμότητα) AND ((fast fashion) OR (fashion industry) OR fashion OR (γρήγορη μόδα) OR (βιομηχανία μόδας))', domains='naftemporiki.gr, tanea.gr, avgi.gr, protothema.gr, tovima.gr, skai.gr')

In [202]:
data_greece_transportation = newsapi.get_everything(q='(environment OR (climate change) OR (global warming) OR sustainability OR περιβάλλον OR περιβάλλοντος OR περιβαλλοντικών OR περιβαλλοντικές OR περιβαλλοντική OR (κλιματική αλλαγή) OR (κλιματικές αλλαγές) OR (φαινόμενο του θερμοκηπίου) OR (υπερθέρμανση του πλανήτη) OR βιωσιμότητα) AND ((transportation sector) OR (transportation industry) OR transport OR μεταφορές OR μεταφορών)', domains='naftemporiki.gr, tanea.gr, avgi.gr, protothema.gr, tovima.gr, skai.gr')

In [203]:
#DENMARK

In [204]:
data_denmark_air = newsapi.get_everything(q="(miljø OR klimaforandringer OR (global opvarmning) OR bæredygtighed) AND (luft OR atmosfæren)", domains="politiken.dk, berlingske.dk, jyllands-posten.dk, weekendavisen.dk, borsen.dk")

In [205]:
data_denmark_ocean = newsapi.get_everything(q="(miljø OR klimaforandringer OR (global opvarmning) OR bæredygtighed) AND (hav OR havet)", domains="politiken.dk, berlingske.dk, jyllands-posten.dk, weekendavisen.dk, borsen.dk")

In [206]:
data_denmark_co2Emission = newsapi.get_everything(q="(miljø OR klimaforandringer OR (global opvarmning) OR bæredygtighed) AND (kuldioxidemission OR (co2-udledning) OR (co2 udledning))", domains="politiken.dk, berlingske.dk, jyllands-posten.dk, weekendavisen.dk, borsen.dk")

In [207]:
data_denmark_foodIndustry = newsapi.get_everything(q="(miljø OR klimaforandringer OR (global opvarmning) OR bæredygtighed) AND (kødindustrien OR fødevareindustrien)", domains="politiken.dk, berlingske.dk, jyllands-posten.dk, weekendavisen.dk, borsen.dk")

In [208]:
data_denmark_forests = newsapi.get_everything(q="(miljø OR klimaforandringer OR (global opvarmning) OR bæredygtighed) AND (skov)", domains="politiken.dk, berlingske.dk, jyllands-posten.dk, weekendavisen.dk, borsen.dk")

In [209]:
data_denmark_fashion = newsapi.get_everything(q="(miljø OR klimaforandringer OR (global opvarmning) OR bæredygtighed) AND (modeindustrien OR mode OR (fast fashion))", domains="politiken.dk, berlingske.dk, jyllands-posten.dk, weekendavisen.dk, borsen.dk")

In [210]:
data_denmark_transportation = newsapi.get_everything(q="(miljø OR klimaforandringer OR (global opvarmning) OR bæredygtighed) AND (transportsektoren OR transportindustrien OR transport)", domains="politiken.dk, berlingske.dk, jyllands-posten.dk, weekendavisen.dk, borsen.dk")

In [211]:
england = {"air_england": data_england_air["totalResults"], "ocean_england": data_england_ocean["totalResults"], "co2Emission_england": data_england_co2Emission["totalResults"], "foodIndustry_england": data_england_foodIndustry["totalResults"], "forests_england": data_england_forests["totalResults"], "fashion_england": data_england_fashion["totalResults"], "transportation_england": data_england_transportation["totalResults"]}

In [212]:
france = {"air_france": data_france_air["totalResults"], "ocean_france": data_france_ocean["totalResults"], "co2Emission_france": data_france_co2Emission["totalResults"], "foodIndustry_france": data_france_foodIndustry["totalResults"], "forests_france": data_france_forests["totalResults"], "fashion_france": data_france_fashion["totalResults"], "transportation_france": data_france_transportation["totalResults"]}

In [213]:
germany = {"air_germany": data_germany_air["totalResults"], "ocean_germany": data_germany_ocean["totalResults"], "co2Emission_germany": data_germany_co2Emission["totalResults"], "foodIndustry_germany": data_germany_foodIndustry["totalResults"], "forests_germany": data_germany_forests["totalResults"], "fashion_germany": data_germany_fashion["totalResults"], "transportation_germany": data_germany_transportation["totalResults"]}

In [214]:
spain = {"air_spain": data_spain_air["totalResults"], "ocean_spain": data_spain_ocean["totalResults"], "co2Emission_spain": data_spain_co2Emission["totalResults"], "foodIndustry_spain": data_spain_foodIndustry["totalResults"], "forests_spain": data_spain_forests["totalResults"], "fashion_spain": data_spain_fashion["totalResults"], "transportation_spain": data_spain_transportation["totalResults"]}

In [215]:
poland = {"air_poland": data_poland_air["totalResults"], "ocean_poland": data_poland_ocean["totalResults"], "co2Emission_poland": data_poland_co2Emission["totalResults"], "foodIndustry_poland": data_poland_foodIndustry["totalResults"], "forests_poland": data_poland_forests["totalResults"], "fashion_poland": data_poland_fashion["totalResults"], "transportation_poland": data_poland_transportation["totalResults"]}

In [216]:
italy = {"air_italy": data_italy_air["totalResults"], "ocean_italy": data_italy_ocean["totalResults"], "co2Emission_italy": data_italy_co2Emission["totalResults"], "foodIndustry_italy": data_italy_foodIndustry["totalResults"], "forests_italy": data_italy_forests["totalResults"], "fashion_italy": data_italy_fashion["totalResults"], "transportation_italy": data_italy_transportation["totalResults"]}

In [217]:
russia = {"air_russia": data_russia_air["totalResults"], "ocean_russia": data_russia_ocean["totalResults"], "co2Emission_russia": data_russia_co2Emission["totalResults"], "foodIndustry_russia": data_russia_foodIndustry["totalResults"], "forests_russia": data_russia_forests["totalResults"], "fashion_russia": data_russia_fashion["totalResults"], "transportation_russia": data_russia_transportation["totalResults"]}

In [ ]:
greece = {"air_greece": data_greece_air["totalResults"], "ocean_greece": data_greece_ocean["totalResults"], "co2Emission_greece": data_greece_co2Emission["totalResults"], "foodIndustry_greece": data_greece_foodIndustry["totalResults"], "forests_greece": data_greece_forests["totalResults"], "fashion_greece": data_greece_fashion["totalResults"], "transportation_greece": data_greece_transportation["totalResults"]}

In [ ]:
denmark = {"air_denmark": data_denmark_air["totalResults"], "ocean_denmark": data_denmark_ocean["totalResults"], "co2Emission_denmark": data_denmark_co2Emission["totalResults"], "foodIndustry_denmark": data_denmark_foodIndustry["totalResults"], "forests_denmark": data_denmark_forests["totalResults"], "fashion_denmark": data_denmark_fashion["totalResults"], "transportation_denmark": data_denmark_transportation["totalResults"]}

In [ ]:
#test

In [ ]:
test_countries = {"ID": "air_france", "value": data_france_air["totalResults"], "titles": {"title 1":data_france_air["articles"][0]["title"], "title 2":data_france_air["articles"][1]["title"], "title 3": data_france_air["articles"][2]["title"], "title 4": data_france_air["articles"][3]["title"], "title 5": data_france_air["articles"][4]["title"] }}

In [ ]:
print(test_countries)

In [ ]:
#INTERATING NEWS API DICTIONARY TO A MONGODB DICTIONARY/DOCUMENT

In [ ]:
all_countries = [
    {"ID":"air_england", "value": data_england_air["totalResults"], "titles": {"title 1":data_england_air["articles"][0]["title"], "title 2":data_england_air["articles"][1]["title"], "title 3": data_england_air["articles"][2]["title"], "title 4": data_england_air["articles"][3]["title"], "title 5": data_england_air["articles"][4]["title"] }}, 
     
    {"ID":"ocean_england", "value": data_england_ocean["totalResults"], "titles": {"title 1":data_england_ocean["articles"][0]["title"], "title 2":data_england_ocean["articles"][1]["title"], "title 3": data_england_ocean["articles"][2]["title"], "title 4": data_england_ocean["articles"][3]["title"], "title 5": data_england_ocean["articles"][4]["title"] }}, 
     
    {"ID":"co2Emission_england", "value":data_england_co2Emission["totalResults"], "titles": {"title 1":data_england_co2Emission["articles"][0]["title"], "title 2":data_england_co2Emission["articles"][1]["title"], "title 3": data_england_co2Emission["articles"][2]["title"], "title 4": data_england_co2Emission["articles"][3]["title"], "title 5": data_england_co2Emission["articles"][4]["title"] }}, 
     
    {"ID":"foodIndustry_england", "value": data_england_foodIndustry["totalResults"], "titles": {"title 1":data_england_foodIndustry["articles"][0]["title"], "title 2":data_england_foodIndustry["articles"][1]["title"], "title 3": data_england_foodIndustry["articles"][2]["title"], "title 4": data_england_foodIndustry["articles"][3]["title"], "title 5": data_england_foodIndustry["articles"][4]["title"] }}, 
     
    {"ID":"forests_england", "value": data_england_forests["totalResults"], "titles": {"title 1":data_england_forests["articles"][0]["title"], "title 2":data_england_forests["articles"][1]["title"], "title 3": data_england_forests["articles"][2]["title"], "title 4": data_england_forests["articles"][3]["title"], "title 5": data_england_forests["articles"][4]["title"] }}, 
     
    {"ID":"fashion_england", "value": data_england_fashion["totalResults"], "titles": {"title 1":data_england_fashion["articles"][0]["title"], "title 2":data_england_fashion["articles"][1]["title"], "title 3": data_england_fashion["articles"][2]["title"], "title 4": data_england_fashion["articles"][3]["title"], "title 5": data_england_fashion["articles"][4]["title"] }}, 
     
    {"ID":"transportation_england", "value": data_england_transportation["totalResults"], "titles": {"title 1":data_england_transportation["articles"][0]["title"], "title 2":data_england_transportation["articles"][1]["title"], "title 3": data_england_transportation["articles"][2]["title"], "title 4": data_england_transportation["articles"][3]["title"], "title 5": data_england_transportation["articles"][4]["title"] }}, 
    
    
    {"ID": "air_france", "value": data_france_air["totalResults"], "titles": {"title 1":data_france_air["articles"][0]["title"], "title 2":data_france_air["articles"][1]["title"], "title 3": data_france_air["articles"][2]["title"], "title 4": data_france_air["articles"][3]["title"], "title 5": data_france_air["articles"][4]["title"] }},
    
    {"ID":"ocean_france", "value": data_france_ocean["totalResults"], "titles": {"title 1":data_france_ocean["articles"][0]["title"], "title 2":data_france_ocean["articles"][1]["title"], "title 3": data_france_ocean["articles"][2]["title"], "title 4": data_france_ocean["articles"][3]["title"], "title 5": data_france_ocean["articles"][4]["title"] }},
    
    {"ID":"co2Emission_france", "value": data_france_co2Emission["totalResults"], "titles": {"title 1":data_france_co2Emission["articles"][0]["title"], "title 2":data_france_co2Emission["articles"][1]["title"], "title 3": data_france_co2Emission["articles"][2]["title"], "title 4": data_france_co2Emission["articles"][3]["title"], "title 5": data_france_co2Emission["articles"][4]["title"] }},
    
    {"ID":"foodIndustry_france", "value": data_france_foodIndustry["totalResults"],"titles": "not enough articles available"},
    
    {"ID":"forests_france", "value": data_france_forests["totalResults"], "titles": {"title 1":data_france_forests["articles"][0]["title"], "title 2":data_france_forests["articles"][1]["title"], "title 3": data_france_forests["articles"][2]["title"], "title 4": data_france_forests["articles"][3]["title"], "title 5": data_france_forests["articles"][4]["title"] }},
    
    {"ID":"fashion_france", "value": data_france_fashion["totalResults"], "titles": {"title 1":data_france_fashion["articles"][0]["title"], "title 2":data_france_fashion["articles"][1]["title"], "title 3": data_france_fashion["articles"][2]["title"], "title 4": data_france_fashion["articles"][3]["title"], "title 5": data_france_fashion["articles"][4]["title"] }},
    
    {"ID":"transportation_france", "value": data_france_transportation["totalResults"], "titles": {"title 1":data_france_transportation["articles"][0]["title"], "title 2":data_france_transportation["articles"][1]["title"], "title 3": data_france_transportation["articles"][2]["title"], "title 4": data_france_transportation["articles"][3]["title"], "title 5": data_france_transportation["articles"][4]["title"] }},
    

    
    {"ID":"air_germany", "value": data_germany_air["totalResults"], "titles": {"title 1":data_germany_air["articles"][0]["title"], "title 2":data_germany_air["articles"][1]["title"], "title 3": data_germany_air["articles"][2]["title"], "title 4": data_germany_air["articles"][3]["title"], "title 5": data_germany_air["articles"][4]["title"] }},
    
    {"ID": "ocean_germany", "value": data_germany_ocean["totalResults"], "titles": {"title 1":data_germany_ocean["articles"][0]["title"], "title 2":data_germany_ocean["articles"][1]["title"], "title 3": data_germany_ocean["articles"][2]["title"], "title 4": data_germany_ocean["articles"][3]["title"], "title 5": data_germany_ocean["articles"][4]["title"] }},
    
    {"ID":"co2Emission_germany", "value": data_germany_co2Emission["totalResults"], "titles": {"title 1":data_germany_co2Emission["articles"][0]["title"], "title 2":data_germany_co2Emission["articles"][1]["title"], "title 3": data_germany_co2Emission["articles"][2]["title"], "title 4": data_germany_co2Emission["articles"][3]["title"], "title 5": data_germany_co2Emission["articles"][4]["title"] }},
    
    {"ID":"foodIndustry_germany", "value": data_germany_foodIndustry["totalResults"], "titles": {"title 1":data_germany_co2Emission["articles"][0]["title"], "title 2":data_germany_co2Emission["articles"][1]["title"], "title 3": data_germany_co2Emission["articles"][2]["title"], "title 4": data_germany_co2Emission["articles"][3]["title"], "title 5": data_germany_co2Emission["articles"][4]["title"] }},
    
    {"ID":"forests_germany", "value": data_germany_forests["totalResults"], "titles": {"title 1":data_germany_forests["articles"][0]["title"], "title 2":data_germany_forests["articles"][1]["title"], "title 3": data_germany_forests["articles"][2]["title"], "title 4": data_germany_forests["articles"][3]["title"], "title 5": data_germany_forests["articles"][4]["title"] }},
    
    {"ID":"fashion_germany", "value":data_germany_fashion["totalResults"], "titles": {"title 1":data_germany_fashion["articles"][0]["title"], "title 2":data_germany_fashion["articles"][1]["title"], "title 3": data_germany_fashion["articles"][2]["title"], "title 4": data_germany_fashion["articles"][3]["title"], "title 5": data_germany_fashion["articles"][4]["title"] }},
    
    {"ID":"transportation_germany", "value":data_germany_transportation["totalResults"], "titles": {"title 1":data_germany_transportation["articles"][0]["title"], "title 2":data_germany_transportation["articles"][1]["title"], "title 3": data_germany_transportation["articles"][2]["title"], "title 4": data_germany_transportation["articles"][3]["title"], "title 5": data_germany_transportation["articles"][4]["title"] }},
    
    
    
    {"ID":"air_spain", "value": data_spain_air["totalResults"], "titles": {"title 1":data_spain_air["articles"][0]["title"], "title 2":data_spain_air["articles"][1]["title"], "title 3": data_spain_air["articles"][2]["title"], "title 4": data_spain_air["articles"][3]["title"], "title 5": data_spain_air["articles"][4]["title"] }},
    
    {"ID":"ocean_spain", "value": data_spain_ocean["totalResults"], "titles": {"title 1":data_spain_ocean["articles"][0]["title"], "title 2":data_spain_ocean["articles"][1]["title"], "title 3": data_spain_ocean["articles"][2]["title"], "title 4": data_spain_ocean["articles"][3]["title"], "title 5": data_spain_ocean["articles"][4]["title"] }},
    
    {"ID":"co2Emission_spain", "value": data_spain_co2Emission["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"foodIndustry_spain", "value": data_spain_foodIndustry["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"forests_spain", "value": data_spain_forests["totalResults"], "titles": {"title 1":data_spain_forests["articles"][0]["title"], "title 2":data_spain_forests["articles"][1]["title"], "title 3": data_spain_forests["articles"][2]["title"], "title 4": data_spain_forests["articles"][3]["title"], "title 5": data_spain_forests["articles"][4]["title"] }},
    
    {"ID":"fashion_spain", "value": data_spain_fashion["totalResults"], "titles": {"title 1":data_spain_fashion["articles"][0]["title"], "title 2":data_spain_fashion["articles"][1]["title"], "title 3": data_spain_fashion["articles"][2]["title"], "title 4": data_spain_fashion["articles"][3]["title"], "title 5": data_spain_fashion["articles"][4]["title"] }},
    
    {"ID":"transportation_spain", "value": data_spain_transportation["totalResults"], "titles": {"title 1":data_spain_transportation["articles"][0]["title"], "title 2":data_spain_transportation["articles"][1]["title"], "title 3": data_spain_transportation["articles"][2]["title"], "title 4": data_spain_transportation["articles"][3]["title"], "title 5": data_spain_transportation["articles"][4]["title"] }},
    
    
    
    
    {"ID":"air_poland", "value":data_poland_air["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"ocean_poland", "value": data_poland_ocean["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"co2Emission_poland", "value": data_poland_co2Emission["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"foodIndustry_poland", "value": data_poland_foodIndustry["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"forests_poland", "value": data_poland_forests["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"fashion_poland", "value": data_poland_fashion["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"transportation_poland", "value": data_poland_transportation["totalResults"], "titles": "no articles available"},
    
    
    
    {"ID":"air_italy", "value": data_italy_air["totalResults"], "titles": {"title 1":data_italy_air["articles"][0]["title"], "title 2":data_italy_air["articles"][1]["title"], "title 3": data_italy_air["articles"][2]["title"], "title 4": data_italy_air["articles"][3]["title"], "title 5": data_italy_air["articles"][4]["title"] }},
    
    {"ID":"ocean_italy", "value": data_italy_ocean["totalResults"], "titles": {"title 1":data_italy_ocean["articles"][0]["title"], "title 2":data_italy_ocean["articles"][1]["title"], "title 3": data_italy_ocean["articles"][2]["title"], "title 4": data_italy_ocean["articles"][3]["title"], "title 5": data_italy_ocean["articles"][4]["title"] }},
    
    {"ID":"co2Emission_italy", "value": data_italy_co2Emission["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"foodIndustry_italy", "value": data_italy_foodIndustry["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"forests_italy", "value": data_italy_forests["totalResults"], "titles": {"title 1":data_italy_forests["articles"][0]["title"], "title 2":data_italy_forests["articles"][1]["title"], "title 3": data_italy_forests["articles"][2]["title"], "title 4": data_italy_forests["articles"][3]["title"], "title 5": data_italy_forests["articles"][4]["title"] }},
    
    {"ID":"fashion_italy", "value": data_italy_fashion["totalResults"], "titles": {"title 1":data_italy_fashion["articles"][0]["title"], "title 2":data_italy_fashion["articles"][1]["title"], "title 3": data_italy_fashion["articles"][2]["title"], "title 4": data_italy_fashion["articles"][3]["title"], "title 5": data_italy_fashion["articles"][4]["title"] }},
    
    {"ID":"transportation_italy", "value": data_italy_transportation["totalResults"], "titles": {"title 1":data_italy_transportation["articles"][0]["title"], "title 2":data_italy_transportation["articles"][1]["title"], "title 3": data_italy_transportation["articles"][2]["title"], "title 4": data_italy_transportation["articles"][3]["title"], "title 5": data_italy_transportation["articles"][4]["title"] }},
    
    
    
    {"ID":"air_russia", "value": data_russia_air["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"ocean_russia", "value": data_russia_ocean["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"co2Emission_russia", "value": data_russia_co2Emission["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"foodIndustry_russia", "value": data_russia_foodIndustry["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"forests_russia", "value": data_russia_forests["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"fashion_russia", "value": data_russia_fashion["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"transportation_russia", "value": data_russia_transportation["totalResults"], "titles": "not enough articles available"},
    
    
    
    {"ID":"air_greece", "value": data_greece_air["totalResults"], "titles": {"title 1":data_greece_air["articles"][0]["title"], "title 2":data_greece_air["articles"][1]["title"], "title 3": data_greece_air["articles"][2]["title"], "title 4": data_greece_air["articles"][3]["title"], "title 5": data_greece_air["articles"][4]["title"] }},
    
    {"ID":"ocean_greece", "value": data_greece_ocean["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"co2Emission_greece", "value": data_greece_co2Emission["totalResults"], "titles": {"title 1":data_greece_co2Emission["articles"][0]["title"], "title 2":data_greece_co2Emission["articles"][1]["title"], "title 3": data_greece_co2Emission["articles"][2]["title"], "title 4": data_greece_co2Emission["articles"][3]["title"], "title 5": data_greece_co2Emission["articles"][4]["title"] }},
     
    {"ID":"foodIndustry_greece", "value": data_greece_foodIndustry["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"forests_greece", "value": data_greece_forests["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"fashion_greece", "value": data_greece_fashion["totalResults"], "titles":  "not enough articles available"},
     
    {"ID":"transportation_greece", "value": data_greece_transportation["totalResults"], "titles": {"title 1":data_greece_transportation["articles"][0]["title"], "title 2":data_greece_transportation["articles"][1]["title"], "title 3": data_greece_transportation["articles"][2]["title"], "title 4": data_greece_transportation["articles"][3]["title"], "title 5": data_greece_transportation["articles"][4]["title"] }},
    
    
    
    {"ID":"air_denmark", "value": data_denmark_air["totalResults"], "titles": "not enough articles available"},
    
    {"ID":"ocean_denmark", "value": data_denmark_ocean["totalResults"], "titles":  "not enough articles available"},
    
    {"ID":"co2Emission_denmark", "value": data_denmark_co2Emission["totalResults"], "titles":  "not enough articles available"},
    
    {"ID":"foodIndustry_denmark", "value": data_denmark_foodIndustry["totalResults"], "titles":  "not enough articles available"},
    
    {"ID":"forests_denmark", "value": data_denmark_forests["totalResults"], "titles":  "not enough articles available"},
    
    {"ID":"fashion_denmark", "value": data_denmark_fashion["totalResults"], "titles":  "not enough articles available"},
    
    {"ID":"transportation_denmark", "value": data_denmark_transportation["totalResults"], "titles":  "not enough articles available"},

]

In [ ]:
print(all_countries)

In [ ]:
#PASSING DOCUMENT TO THE "totalresults" DATABASE

In [ ]:
totalresults.insert_many(all_countries)

In [ ]:
test.insert_many(all_countries)

In [ ]:
#DELETE ENTIRE DOCUMENT FROM A COLLECTION: collection_name.delete_one(document_name/key-value pair in the document)

In [ ]:
totalresults.delete_many

In [ ]:
totalresults.count_documents({})

In [219]:
list(totalresults.find())

[{'_id': ObjectId('5eebc73b3d4b0bb69f7c5934'),
  'ID': 'air_england',
  'value': 367,
  'titles': {'title 1': 'Climate change: Sport heading for a fall as temperatures rise',
   'title 2': "Demands grow for 'green industrial revolution'",
   'title 3': "Dalai Lama: Seven billion people 'need a sense of oneness'",
   'title 4': 'Coronavirus: Drivers plan to walk more to keep cleaner air of lockdown - survey',
   'title 5': 'Mass extinction millions of years ago may have been caused by climate change damaging ozone layer, study says'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5935'),
  'ID': 'ocean_england',
  'value': 178,
  'titles': {'title 1': 'In the middle of the Pacific with nowhere to land',
   'title 2': "Climate change: 'Stunning' seafloor ridges record Antarctic retreat",
   'title 3': "Climate computing power 'needs more cash'",
   'title 4': 'Russian Arctic oil spill pollutes big lake near Norilsk',
   'title 5': 'Mass extinction millions of years ago may have been caused by climate change damaging ozone layer, study says'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5936'),
  'ID': 'co2Emission_england',
  'value': 5,
  'titles': {'title 1': 'Coronavirus: Drivers plan to walk more to keep cleaner air of lockdown - survey',
   'title 2': "Climate crisis: 'Zombie fires' return to warming Arctic, year after unprecedented blazes",
   'title 3': 'Climate could cause abrupt British vegetation changes',
   'title 4': 'Capturing and storing carbon can help meet global temperature goals',
   'title 5': "Corals emit a colourful 'sunscreen' to protect them from rising sea temperatures"}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5937'),
  'ID': 'foodIndustry_england',
  'value': 85,
  'titles': {'title 1': 'Amazon under threat: fires, loggers and now virus',
   'title 2': "Coronavirus is the fashion industry's wake-up call to change, eco-fashion campaigner Livia Firth warns",
   'title 3': 'Coronavirus: Why are there so many outbreaks at meat factories?',
   'title 4': "World's 13 biggest dairy companies produce nearly same amount of greenhouse gas emissions as entire UK, says report",
   'title 5': "The Bank of England's coronavirus 'recovery' plan is pushing us deeper into a climate emergency"}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5938'),
  'ID': 'forests_england',
  'value': 82,
  'titles': {'title 1': "India outrage after pregnant elephant dies eating 'firecracker fruit'",
   'title 2': 'Amazon under threat: fires, loggers and now virus',
   'title 3': "Climate crisis: Tropical rainforest 'tipping point' identified as scientists call for immediate action to tackle global warming",
   'title 4': 'Mass extinction millions of years ago may have been caused by climate change damaging ozone layer, study says',
   'title 5': "Climate crisis: 'Zombie fires' return to warming Arctic, year after unprecedented blazes"}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5939'),
  'ID': 'fashion_england',
  'value': 63,
  'titles': {'title 1': "Coronavirus is the fashion industry's wake-up call to change, eco-fashion campaigner Livia Firth warns",
   'title 2': 'British fashion needs to slow right down, and lockdown is the perfect time to do it',
   'title 3': 'Emma Watson joins board of Gucci owner Kering',
   'title 4': 'London Fashion Week 2020: When is the digital event and how can I watch online?',
   'title 5': 'Primark plans to reopen all English stores on 15 June'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c593a'),
  'ID': 'transportation_england',
  'value': 153,
  'titles': {'title 1': 'Climate change: How a green new deal really could go global',
   'title 2': 'UN launches push for net-zero emissions by 2050',
   'title 3': "Demands grow for 'green industrial revolution'",
   'title 4': 'Coronavirus: Drivers plan to walk more to keep cleaner air of lockdown - survey',
   'title 5': 'Mass extinction millions of years ago may have been caused by climate change damaging ozone layer, study says'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c593b'),
  'ID': 'air_france',
  'value': 22,
  'titles': {'title 1': "La Convention citoyenne pour le climat ne fait pas l'unanimité",
   'title 2': 'Aéronautique\xa0: «\xa0La transition écologique impose une profonde transformation de notre industrie\xa0»',
   'title 3': "Le Wanderlust confie sa terrasse géante à Alexia Duchêne pour l'été",
   'title 4': 'Bourse\xa0: les ressources cachées de la thématique environnement',
   'title 5': 'Raoult, héraut des «\xa0antisystème\xa0»'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c593c'),
  'ID': 'ocean_france',
  'value': 36,
  'titles': {'title 1': 'Nathan Paulin, un funambule en lutte contre le réchauffement',
   'title 2': 'Côté mer et côté campagne, dix hôtels écoresponsables à Majorque',
   'title 3': "Yeu, l'altière sauvageonne",
   'title 4': 'Les défenseurs des éoliennes répondent aux critiques: «Et pourtant, elles tournent!»',
   'title 5': 'Relocalisations : la tentation de la TVA sociale'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c593d'),
  'ID': 'co2Emission_france',
  'value': 28,
  'titles': {'title 1': '«La Convention citoyenne pour le climat va accoucher d’un grand gaspillage»',
   'title 2': 'Samuel Furfari: «Le problème n’est pas le rejet de CO2 mais la sauvegarde de la biodiversité»',
   'title 3': 'Les défenseurs des éoliennes répondent aux critiques: «Et pourtant, elles tournent!»',
   'title 4': 'Aéronautique\xa0: «\xa0La transition écologique impose une profonde transformation de notre industrie\xa0»',
   'title 5': 'A Paris, la mode éco-responsable veut tirer son épingle du jeu'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c593e'),
  'ID': 'foodIndustry_france',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c593f'),
  'ID': 'forests_france',
  'value': 21,
  'titles': {'title 1': 'Les forêts tropicales pourraient relâcher du carbone avec le réchauffement climatique',
   'title 2': 'Les forêts tropicales pourraient relâcher du carbone avec le réchauffement climatique',
   'title 3': 'Aéronautique\xa0: «\xa0La transition écologique impose une profonde transformation de notre industrie\xa0»',
   'title 4': 'Au Sahel, des arbres et des bêches pour lutter contre l’avancée du désert',
   'title 5': 'Pourquoi la chasse est une menace pour les arbres des forêts tropicales de Guyane'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5940'),
  'ID': 'fashion_france',
  'value': 30,
  'titles': {'title 1': 'Le «\xa0nouveau souffle\xa0» d’Alessandro Michele pour Gucci et le monde d’après',
   'title 2': 'A Paris, la mode éco-responsable veut tirer son épingle du jeu',
   'title 3': '«L’obsession pour le réchauffement climatique est une fuite qui empêche de véritables avancées écologiques»',
   'title 4': 'Mode - 10 nouvelles marques de sport à connaître',
   'title 5': "Coronavirus: les trois quarts des Français estiment que leur pouvoir d'achat ne s'améliorera pas cette année"}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5941'),
  'ID': 'transportation_france',
  'value': 42,
  'titles': {'title 1': '«La Convention citoyenne pour le climat va accoucher d’un grand gaspillage»',
   'title 2': 'Aéronautique\xa0: «\xa0La transition écologique impose une profonde transformation de notre industrie\xa0»',
   'title 3': "DIRECT Déconfinement : suivez l'intervention d'Emmanuel Macron",
   'title 4': 'La confiance ne se décrète pas, elle se co-construit',
   'title 5': 'Direct - Le déconfinement entre dans sa deuxième phase en France'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5942'),
  'ID': 'air_germany',
  'value': 113,
  'titles': {'title 1': 'Kurswechsel in Forschungspolitik: Hightech oder Nachhaltigkeit',
   'title 2': 'So hat sich die Corona-Krise auf die Umwelt ausgewirkt',
   'title 3': 'Düstere Aussichten für den Wald - Studie zeigt: Bäume sind in Zukunft kleiner - das heizt den Klimawandel weiter an',
   'title 4': 'Buchauszug "Umdenken - Überlebensfragen der Menschheit - Wie 150 Millionen Paar Schuhe zum Schlüsselerlebnis für Minister Müller wurden',
   'title 5': 'Immer mehr Menschen achten auf die Umweltbilanz ihres Essens'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5943'),
  'ID': 'ocean_germany',
  'value': 40,
  'titles': {'title 1': 'Nachhaltigkeit: Was blenden wir aus? - Schlimmer als Kreuzfahrten: Mode-Wahnsinn zerstört Umwelt – wie wir das ändern',
   'title 2': 'Umweltunglück in Russland: Der Pjassinosee war schon vorher tot',
   'title 3': 'Umweltpolitik: Weit über 2100 hinaus: Ein Plädoyer für eine bessere Welt',
   'title 4': 'Vor der Tourismus-Rückkehr: Mallorca atmet durch',
   'title 5': 'Vor der Rückkehr der Touristen: Mallorca atmet durch'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5944'),
  'ID': 'co2Emission_germany',
  'value': 5,
  'titles': {'title 1': '- Kleiner, leise, ohne Rotorblätter? Start-ups forschen am Windrad der Zukunft',
   'title 2': 'Autotechnik: Das sollte man über Plug-in-Hybride wissen',
   'title 3': 'Kurz gesichtet: Hautnah',
   'title 4': 'Signale von Hitzeanomalien - Forscher in Sorge: „Zombie“-Feuer am Polarkreis',
   'title 5': 'Autotechnik: Das sollte man über Plug-in-Hybride wissen'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5945'),
  'ID': 'foodIndustry_germany',
  'value': 16,
  'titles': {'title 1': 'Neuer Corona-Ausbruch bei Tönnies - Infektionen decken Missstände in Fleischindustrie auf - vier Maßnahmen sollen das ändern',
   'title 2': 'Mehr als 1000 Corona-Fälle: Tönnies-Fleischfabrik 14 Tage geschlossen',
   'title 3': '"Hart aber fair" zu Schlachthöfen: "Die, ähm, die Infektionszahlen - wie soll ich sagen ..."',
   'title 4': 'Corona-Ausbruch in Fleischfabrik: "Das Hygienekonzept muss komplett versagt haben" - t-online.de',
   'title 5': 'Corona-Ausbruch bei Tönnies: Die Gesundheit wird für Profite aufs Spiel gesetzt - t-online.de'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5946'),
  'ID': 'forests_germany',
  'value': 58,
  'titles': {'title 1': 'Düstere Aussichten für den Wald - Studie zeigt: Bäume sind in Zukunft kleiner - das heizt den Klimawandel weiter an',
   'title 2': 'Der grüne Wall von Afrika',
   'title 3': 'Waldmuseum Ebersberg: Umweltstation öffnet wieder',
   'title 4': 'Leopoldinaforscher über Naturschutz: Schluss mit Billigfleisch',
   'title 5': 'Begegnungsort: Erlebnis unter Bäumen'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5947'),
  'ID': 'fashion_germany',
  'value': 79,
  'titles': {'title 1': 'Das Beste lesen mit F+: Altmodische Triathleten und Immobilien auf Pump',
   'title 2': 'Stadtrat Dachau: Bündnis fordert Lärmschutzwände',
   'title 3': 'Merkels Regierungserklärung: "Kein Land kann die Krise allein bestehen"',
   'title 4': 'Tag der Entscheidung für VW',
   'title 5': 'Steigender Ölpreis macht Fracking wieder attraktiver'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5948'),
  'ID': 'transportation_germany',
  'value': 28,
  'titles': {'title 1': 'Immer mehr Menschen achten auf die Umweltbilanz ihres Essens',
   'title 2': 'Energiewende: Aufklärung und Aufgaben',
   'title 3': 'Fünf Gründe, warum eine Kaufprämie rausgeworfenes Steuergeld wäre',
   'title 4': 'Nachhaltigkeit: Regierung will einen sparsameren Umgang der Wirtschaft mit Rohstoffen',
   'title 5': 'Nachhaltigkeit: Regierung fordert von der Wirtschaft einen sparsameren Umgang mit Rohstoffen'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5949'),
  'ID': 'air_spain',
  'value': 54,
  'titles': {'title 1': 'El vino del cambio climático',
   'title 2': 'La crisis climática está transformando ya los bosques, con árboles más jóvenes y de menor altura',
   'title 3': 'Teresa Ribera: "Los recursos para la recuperación económica no deberían incrementar nuestra hipoteca ambiental"',
   'title 4': 'Proteger el planeta',
   'title 5': 'Rumbo a una nueva (y verde) normalidad'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c594a'),
  'ID': 'ocean_spain',
  'value': 28,
  'titles': {'title 1': 'El vino del cambio climático',
   'title 2': 'Siberia tardará más de 10 años en recuperarse del vertido de la central térmica',
   'title 3': 'El agua del futuro, en peligro',
   'title 4': 'El español que ha nadado por mares de todo el mundo para tomar el pulso al planeta',
   'title 5': 'Salvar el océano Austral: objetivo 2020'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c594b'),
  'ID': 'co2Emission_spain',
  'value': 3,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c594c'),
  'ID': 'foodIndustry_spain',
  'value': 4,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c594d'),
  'ID': 'forests_spain',
  'value': 24,
  'titles': {'title 1': 'La crisis climática está transformando ya los bosques, con árboles más jóvenes y de menor altura',
   'title 2': 'Proteger el planeta',
   'title 3': 'Cuarenta años de acción ecologista contra la corriente',
   'title 4': 'Georgina Mace: "Es el momento de \'resetear\' nuestra relación con la naturaleza"',
   'title 5': 'Joaquín Araújo: "Estamos aterrorizados por un virus, debería aterrarnos nuestro estilo de vida"'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c594e'),
  'ID': 'fashion_spain',
  'value': 24,
  'titles': {'title 1': 'El vino del cambio climático',
   'title 2': 'Giorgio Armani: “Tenemos una oportunidad única de reescribir el presente, y es mejor que la cojamos”',
   'title 3': 'El renacido de la dinastía Agnelli',
   'title 4': 'Giorgio Armani “Las rebajas no tienen sentido”. Son pan para hoy y hambre para mañana”',
   'title 5': 'Cómo vamos a producir cuando la pandemia quede atrás'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c594f'),
  'ID': 'transportation_spain',
  'value': 46,
  'titles': {'title 1': 'Teresa Ribera: "Los recursos para la recuperación económica no deberían incrementar nuestra hipoteca ambiental"',
   'title 2': 'Las Administraciones territoriales y la importancia del Proyecto de ley de Cambio Climático y transición energética',
   'title 3': 'Siberia tardará más de 10 años en recuperarse del vertido de la central térmica',
   'title 4': 'Rumbo a una nueva (y verde) normalidad',
   'title 5': 'La vuelta del turismo post Covid-19: una oportunidad de cambio'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5950'),
  'ID': 'air_poland',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5951'),
  'ID': 'ocean_poland',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5952'),
  'ID': 'co2Emission_poland',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5953'),
  'ID': 'foodIndustry_poland',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5954'),
  'ID': 'forests_poland',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5955'),
  'ID': 'fashion_poland',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5956'),
  'ID': 'transportation_poland',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5957'),
  'ID': 'air_italy',
  'value': 19,
  'titles': {'title 1': 'Festa della Repubblica. Il Fai apre i suoi gioielli',
   'title 2': 'La lettera di 40 milioni di medici ai leader del G20: "Per ripartire dopo il Covid serve un Pianeta sano"',
   'title 3': 'Berrino: «Ripartiamo \xa0con gioia». La cantautrice Gaia: «Noi in piazza per \xa0un mondo solidale»',
   'title 4': 'Le Corbusier in versione «eco»',
   'title 5': 'Dalla F.1 alla lotta per l\'ambiente. Rosberg: "Così riparte l\'economia europea"'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5958'),
  'ID': 'ocean_italy',
  'value': 39,
  'titles': {'title 1': 'Animali, quella fuga verso il freddo',
   'title 2': 'Oceani, il nostro futuro. Lo sviluppo sostenibile per salvarli',
   'title 3': 'La battaglia di Alessandro Gassmann per l\'ambiente: "Sono fissato per la differenziata"',
   'title 4': 'Il ministro Costa: «Proposte concrete per un futuro post Covid davvero sostenibile»',
   'title 5': 'E’ la Giornata Mondiale dell’Ambiente: è l’ora di agire'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5959'),
  'ID': 'co2Emission_italy',
  'value': 2,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c595a'),
  'ID': 'foodIndustry_italy',
  'value': 2,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c595b'),
  'ID': 'forests_italy',
  'value': 14,
  'titles': {'title 1': 'La «Treetopia», utopia delle città costruite intorno alle piante Foto',
   'title 2': 'Se gli alberi perdono il ritmo della crescita',
   'title 3': 'Miniere o energia solare: la pandemia accelera il dilemma del gigante India',
   'title 4': 'E’ la Giornata Mondiale dell’Ambiente: è l’ora di agire',
   'title 5': 'L’orgoglio italiano nasce anche da un parquet'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c595c'),
  'ID': 'fashion_italy',
  'value': 40,
  'titles': {'title 1': 'Marco Bizzarri: «Basta con gli obiettivi timidi, così ho cambiato il mio modo di pensare»',
   'title 2': 'Salviamo più piccole imprese dalla tempesta dei fallimenti L’Economia lunedì gratis',
   'title 3': "Intesa-Prometeia: 2020 nero per l'industria, -15% di fatturato. Ma nel 2021 salirà del 5,3%",
   'title 4': 'Da Ferragamo a Damiani, da Merloni a Stirpe: ecco i 25 nuovi cavalieri del lavoro',
   'title 5': 'Miniere o energia solare: la pandemia accelera il dilemma del gigante India'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c595d'),
  'ID': 'transportation_italy',
  'value': 19,
  'titles': {'title 1': 'Alstom e Snam: accordo per lo sviluppo dei treni a idrogeno in Italia',
   'title 2': 'Ue, 100 miliardi per l’auto. Il Codacons ricorre al Tar contro il prestito a Fca',
   'title 3': 'Digitale, infrastrutture, sostenibilità: il piano di rilancio targato Conte in 9 punti',
   'title 4': 'Mobilità sostenibile: così l’asse Snam-Alstom darà vita ai treni in idrogeno in Italia',
   'title 5': 'Gualtieri sulle critiche di Bonomi: "Ingenerose". Il ministro esclude la grande coalizione: "Serve patto sociale"'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c595e'),
  'ID': 'air_russia',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c595f'),
  'ID': 'ocean_russia',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5960'),
  'ID': 'co2Emission_russia',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5961'),
  'ID': 'foodIndustry_russia',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5962'),
  'ID': 'forests_russia',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5963'),
  'ID': 'fashion_russia',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5964'),
  'ID': 'transportation_russia',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5965'),
  'ID': 'air_greece',
  'value': 7,
  'titles': {'title 1': 'Έρευνα ΕΚΠΑΑ: Πάνω από 8.500 θάνατοι ετησίως από την ατμοσφαιρική ρύπανση στην Ελλάδα',
   'title 2': 'Covid-19: Έκκληση για «πράσινη» ανάκαμψη ζητούν οι γιατροί του κόσμου',
   'title 3': 'Covid-19: Έκκληση για «πράσινη» ανάκαμψη από τους γιατρούς του κόσμου',
   'title 4': 'Ατμοσφαιρική ρύπανση: Πάνω από 8.500 θάνατοι ετησίως στην Ελλάδα',
   'title 5': 'Ατμοσφαιρική ρύπανση: Αφαιρεί κάθε χρόνο 8.500 ζωές στην Ελλάδα'}},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5966'),
  'ID': 'ocean_greece',
  'value': 3,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5967'),
  'ID': 'co2Emission_greece',
  'value': 4,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5968'),
  'ID': 'foodIndustry_greece',
  'value': 0,
  'titles': 'not enough articles available'},
 {'_id': ObjectId('5eebc73b3d4b0bb69f7c5969'),

In [ ]:
#UPDATING ALL THE DATABASE WITH NEW DATA FROM THE API

In [ ]:
#UPDATING ENGLAND

In [53]:
def update1():
    if data_england_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_england"}, {'$set': {"value": data_england_air["totalResults"]}}),
        UpdateOne({"ID":"air_england"}, {'$set': {"titles": {"title 1":data_england_air["articles"][0]["title"], "title 2":data_england_air["articles"][1]["title"], "title 3": data_england_air["articles"][2]["title"], "title 4": data_england_air["articles"][3]["title"], "title 5": data_england_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_england"}, {'$set': {"value": data_england_air["totalResults"]}}),
        UpdateOne({"ID":"air_england"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [54]:
def update2():
    if data_england_ocean["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_england"}, {'$set': {"value": data_england_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_england"}, {'$set': {"titles": {"title 1":data_england_ocean["articles"][0]["title"], "title 2":data_england_ocean["articles"][1]["title"], "title 3": data_england_ocean["articles"][2]["title"], "title 4": data_england_ocean["articles"][3]["title"], "title 5": data_england_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_england"}, {'$set': {"value": data_england_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_england"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [55]:
def update3():
    if data_england_co2Emission["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_england"}, {'$set': {"value": data_england_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_england"}, {'$set': {"titles": {"title 1":data_england_co2Emission["articles"][0]["title"], "title 2":data_england_co2Emission["articles"][1]["title"], "title 3": data_england_co2Emission["articles"][2]["title"], "title 4": data_england_co2Emission["articles"][3]["title"], "title 5": data_england_co2Emission["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_england"}, {'$set': {"value": data_england_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_england"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [56]:
def update4():
    if data_england_foodIndustry["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_england"}, {'$set': {"value": data_england_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_england"}, {'$set': {"titles": {"title 1":data_england_foodIndustry["articles"][0]["title"], "title 2":data_england_foodIndustry["articles"][1]["title"], "title 3": data_england_foodIndustry["articles"][2]["title"], "title 4": data_england_foodIndustry["articles"][3]["title"], "title 5": data_england_foodIndustry["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_england"}, {'$set': {"value": data_england_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_england"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [57]:
def update5():
    if data_england_forests["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"forests_england"}, {'$set': {"value": data_england_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_england"}, {'$set': {"titles": {"title 1":data_england_forests["articles"][0]["title"], "title 2":data_england_forests["articles"][1]["title"], "title 3": data_england_forests["articles"][2]["title"], "title 4": data_england_forests["articles"][3]["title"], "title 5": data_england_forests["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"forests_england"}, {'$set': {"value": data_england_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_england"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [58]:
def update6():
    if data_england_fashion["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_england"}, {'$set': {"value": data_england_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_england"}, {'$set': {"titles": {"title 1":data_england_fashion["articles"][0]["title"], "title 2":data_england_fashion["articles"][1]["title"], "title 3": data_england_fashion["articles"][2]["title"], "title 4": data_england_fashion["articles"][3]["title"], "title 5": data_england_fashion["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_england"}, {'$set': {"value": data_england_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_england"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [59]:
def update7():
    if data_england_transportation["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_england"}, {'$set': {"value": data_england_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_england"}, {'$set': {"titles": {"title 1":data_england_transportation["articles"][0]["title"], "title 2":data_england_transportation["articles"][1]["title"], "title 3": data_england_transportation["articles"][2]["title"], "title 4": data_england_transportation["articles"][3]["title"], "title 5": data_england_transportation["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_england"}, {'$set': {"value": data_england_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_england"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [60]:
def update8():
    if data_france_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_france"}, {'$set': {"value": data_france_air["totalResults"]}}),
        UpdateOne({"ID":"air_france"}, {'$set': {"titles": {"title 1":data_france_air["articles"][0]["title"], "title 2":data_france_air["articles"][1]["title"], "title 3": data_france_air["articles"][2]["title"], "title 4": data_france_air["articles"][3]["title"], "title 5": data_france_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_france"}, {'$set': {"value": data_france_air["totalResults"]}}),
        UpdateOne({"ID":"air_france"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [61]:
#UPDATING FRANCE

In [62]:
def update8():
    if data_france_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_france"}, {'$set': {"value": data_france_air["totalResults"]}}),
        UpdateOne({"ID":"air_france"}, {'$set': {"titles": {"title 1":data_france_air["articles"][0]["title"], "title 2":data_france_air["articles"][1]["title"], "title 3": data_france_air["articles"][2]["title"], "title 4": data_france_air["articles"][3]["title"], "title 5": data_france_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_france"}, {'$set': {"value": data_france_air["totalResults"]}}),
        UpdateOne({"ID":"air_france"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [63]:
def update9():
    if data_france_ocean["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_france"}, {'$set': {"value": data_france_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_france"}, {'$set': {"titles": {"title 1":data_france_ocean["articles"][0]["title"], "title 2":data_france_ocean["articles"][1]["title"], "title 3": data_france_ocean["articles"][2]["title"], "title 4": data_france_ocean["articles"][3]["title"], "title 5": data_france_ocean["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_france"}, {'$set': {"value": data_france_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_france"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [64]:
def update10():
    if data_france_co2Emission["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_france"}, {'$set': {"value": data_france_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_france"}, {'$set': {"titles": {"title 1":data_france_co2Emission["articles"][0]["title"], "title 2":data_france_co2Emission["articles"][1]["title"], "title 3": data_france_co2Emission["articles"][2]["title"], "title 4": data_france_co2Emission["articles"][3]["title"], "title 5": data_france_co2Emission["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_france"}, {'$set': {"value": data_france_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_france"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [65]:
def update11():
    if data_france_foodIndustry["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_france"}, {'$set': {"value": data_france_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_france"}, {'$set': {"titles": {"title 1":data_france_foodIndustry["articles"][0]["title"], "title 2":data_france_foodIndustry["articles"][1]["title"], "title 3": data_france_foodIndustry["articles"][2]["title"], "title 4": data_france_foodIndustry["articles"][3]["title"], "title 5": data_france_foodIndustry["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_france"}, {'$set': {"value": data_france_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_france"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [66]:
def update12():
    if data_france_forests["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"forests_france"}, {'$set': {"value": data_france_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_france"}, {'$set': {"titles": {"title 1":data_france_forests["articles"][0]["title"], "title 2":data_france_forests["articles"][1]["title"], "title 3": data_france_forests["articles"][2]["title"], "title 4": data_france_forests["articles"][3]["title"], "title 5": data_france_forests["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"forests_france"}, {'$set': {"value": data_france_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_france"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [67]:
def update13():
    if data_france_fashion["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_france"}, {'$set': {"value": data_france_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_france"}, {'$set': {"titles": {"title 1":data_france_fashion["articles"][0]["title"], "title 2":data_france_fashion["articles"][1]["title"], "title 3": data_france_fashion["articles"][2]["title"], "title 4": data_france_fashion["articles"][3]["title"], "title 5": data_france_fashion["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_france"}, {'$set': {"value": data_france_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_france"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [68]:
def update14():
    if data_france_transportation["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_france"}, {'$set': {"value": data_france_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_france"}, {'$set': {"titles": {"title 1":data_france_transportation["articles"][0]["title"], "title 2":data_france_transportation["articles"][1]["title"], "title 3": data_france_transportation["articles"][2]["title"], "title 4": data_france_transportation["articles"][3]["title"], "title 5": data_france_transportation["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_france"}, {'$set': {"value": data_france_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_france"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [69]:
#UPDATING GERMANY

In [70]:
def update15():
    if data_germany_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_germany"}, {'$set': {"value": data_germany_air["totalResults"]}}),
        UpdateOne({"ID":"air_germany"}, {'$set': {"titles": {"title 1":data_germany_air["articles"][0]["title"], "title 2":data_germany_air["articles"][1]["title"], "title 3": data_germany_air["articles"][2]["title"], "title 4": data_germany_air["articles"][3]["title"], "title 5": data_germany_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_germany"}, {'$set': {"value": data_germany_air["totalResults"]}}),
        UpdateOne({"ID":"air_germany"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [71]:
def update16():
    if data_germany_ocean["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_germany"}, {'$set': {"value": data_germany_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_germany"}, {'$set': {"titles": {"title 1":data_germany_ocean["articles"][0]["title"], "title 2":data_germany_ocean["articles"][1]["title"], "title 3": data_germany_ocean["articles"][2]["title"], "title 4": data_germany_ocean["articles"][3]["title"], "title 5": data_germany_ocean["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_germany"}, {'$set': {"value": data_germany_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_germany"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [72]:
def update17():
    if data_germany_co2Emission["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_germany"}, {'$set': {"value": data_germany_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_germany"}, {'$set': {"titles": {"title 1":data_germany_co2Emission["articles"][0]["title"], "title 2":data_germany_co2Emission["articles"][1]["title"], "title 3": data_germany_co2Emission["articles"][2]["title"], "title 4": data_germany_co2Emission["articles"][3]["title"], "title 5": data_germany_co2Emission["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_germany"}, {'$set': {"value": data_germany_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_germany"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [73]:
def update18():
    if data_germany_foodIndustry["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_germany"}, {'$set': {"value": data_germany_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_germany"}, {'$set': {"titles": {"title 1":data_germany_foodIndustry["articles"][0]["title"], "title 2":data_germany_foodIndustry["articles"][1]["title"], "title 3": data_germany_foodIndustry["articles"][2]["title"], "title 4": data_germany_foodIndustry["articles"][3]["title"], "title 5": data_germany_foodIndustry["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_germany"}, {'$set': {"value": data_germany_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_germany"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [74]:
def update19():
    if data_germany_forests["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"forests_germany"}, {'$set': {"value": data_germany_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_germany"}, {'$set': {"titles": {"title 1":data_germany_forests["articles"][0]["title"], "title 2":data_germany_forests["articles"][1]["title"], "title 3": data_germany_forests["articles"][2]["title"], "title 4": data_germany_forests["articles"][3]["title"], "title 5": data_germany_forests["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"forests_germany"}, {'$set': {"value": data_germany_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_germany"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [75]:
def update20():
    if data_germany_fashion["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_germany"}, {'$set': {"value": data_germany_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_germany"}, {'$set': {"titles": {"title 1":data_germany_fashion["articles"][0]["title"], "title 2":data_germany_fashion["articles"][1]["title"], "title 3": data_germany_fashion["articles"][2]["title"], "title 4": data_germany_fashion["articles"][3]["title"], "title 5": data_germany_fashion["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_germany"}, {'$set': {"value": data_germany_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_germany"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [76]:
def update21():
    if data_germany_transportation["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_germany"}, {'$set': {"value": data_germany_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_germany"}, {'$set': {"titles": {"title 1":data_germany_transportation["articles"][0]["title"], "title 2":data_germany_transportation["articles"][1]["title"], "title 3": data_germany_transportation["articles"][2]["title"], "title 4": data_germany_transportation["articles"][3]["title"], "title 5": data_germany_transportation["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_germany"}, {'$set': {"value": data_germany_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_germany"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [77]:
#UPDATING SPAIN

In [78]:
def update22():
    if data_spain_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_spain"}, {'$set': {"value": data_spain_air["totalResults"]}}),
        UpdateOne({"ID":"air_spain"}, {'$set': {"titles": {"title 1":data_spain_air["articles"][0]["title"], "title 2":data_spain_air["articles"][1]["title"], "title 3": data_spain_air["articles"][2]["title"], "title 4": data_spain_air["articles"][3]["title"], "title 5": data_spain_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_spain"}, {'$set': {"value": data_spain_air["totalResults"]}}),
        UpdateOne({"ID":"air_spain"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [79]:
def update23():
    if data_spain_ocean["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_spain"}, {'$set': {"value": data_spain_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_spain"}, {'$set': {"titles": {"title 1":data_spain_ocean["articles"][0]["title"], "title 2":data_spain_ocean["articles"][1]["title"], "title 3": data_spain_ocean["articles"][2]["title"], "title 4": data_spain_ocean["articles"][3]["title"], "title 5": data_spain_ocean["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_spain"}, {'$set': {"value": data_spain_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_spain"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [80]:
def update24():
    if data_spain_co2Emission["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_spain"}, {'$set': {"value": data_spain_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_spain"}, {'$set': {"titles": {"title 1":data_spain_co2Emission["articles"][0]["title"], "title 2":data_spain_co2Emission["articles"][1]["title"], "title 3": data_spain_co2Emission["articles"][2]["title"], "title 4": data_spain_co2Emission["articles"][3]["title"], "title 5": data_spain_co2Emission["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_spain"}, {'$set': {"value": data_spain_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_spain"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [81]:
def update25():
    if data_spain_foodIndustry["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_spain"}, {'$set': {"value": data_spain_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_spain"}, {'$set': {"titles": {"title 1":data_spain_foodIndustry["articles"][0]["title"], "title 2":data_spain_foodIndustry["articles"][1]["title"], "title 3": data_spain_foodIndustry["articles"][2]["title"], "title 4": data_spain_foodIndustry["articles"][3]["title"], "title 5": data_spain_foodIndustry["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_spain"}, {'$set': {"value": data_spain_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_spain"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [82]:
def update26():
    if data_spain_forests["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"forests_spain"}, {'$set': {"value": data_spain_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_spain"}, {'$set': {"titles": {"title 1":data_spain_forests["articles"][0]["title"], "title 2":data_spain_forests["articles"][1]["title"], "title 3": data_spain_forests["articles"][2]["title"], "title 4": data_spain_forests["articles"][3]["title"], "title 5": data_spain_forests["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"forests_spain"}, {'$set': {"value": data_spain_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_spain"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [83]:
def update27():
    if data_spain_fashion["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_spain"}, {'$set': {"value": data_spain_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_spain"}, {'$set': {"titles": {"title 1":data_spain_fashion["articles"][0]["title"], "title 2":data_spain_fashion["articles"][1]["title"], "title 3": data_spain_fashion["articles"][2]["title"], "title 4": data_spain_fashion["articles"][3]["title"], "title 5": data_spain_fashion["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_spain"}, {'$set': {"value": data_spain_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_spain"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [84]:
def update28():
    if data_spain_transportation["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_spain"}, {'$set': {"value": data_spain_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_spain"}, {'$set': {"titles": {"title 1":data_spain_transportation["articles"][0]["title"], "title 2":data_spain_transportation["articles"][1]["title"], "title 3": data_spain_transportation["articles"][2]["title"], "title 4": data_spain_transportation["articles"][3]["title"], "title 5": data_spain_transportation["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_spain"}, {'$set': {"value": data_spain_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_spain"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [85]:
#UPDATING POLAND

In [86]:
def update29():
    if data_poland_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_poland"}, {'$set': {"value": data_poland_air["totalResults"]}}),
        UpdateOne({"ID":"air_poland"}, {'$set': {"titles": {"title 1":data_poland_air["articles"][0]["title"], "title 2":data_poland_air["articles"][1]["title"], "title 3": data_poland_air["articles"][2]["title"], "title 4": data_poland_air["articles"][3]["title"], "title 5": data_poland_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_poland"}, {'$set': {"value": data_poland_air["totalResults"]}}),
        UpdateOne({"ID":"air_poland"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [87]:
def update30():
    if data_poland_ocean["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_poland"}, {'$set': {"value": data_poland_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_poland"}, {'$set': {"titles": {"title 1":data_poland_ocean["articles"][0]["title"], "title 2":data_poland_ocean["articles"][1]["title"], "title 3": data_poland_ocean["articles"][2]["title"], "title 4": data_poland_ocean["articles"][3]["title"], "title 5": data_poland_ocean["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_poland"}, {'$set': {"value": data_poland_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_poland"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [88]:
def update31():
    if data_poland_co2Emission["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_poland"}, {'$set': {"value": data_poland_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_poland"}, {'$set': {"titles": {"title 1":data_poland_co2Emission["articles"][0]["title"], "title 2":data_poland_co2Emission["articles"][1]["title"], "title 3": data_poland_co2Emission["articles"][2]["title"], "title 4": data_poland_co2Emission["articles"][3]["title"], "title 5": data_poland_co2Emission["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_poland"}, {'$set': {"value": data_poland_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_poland"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [89]:
def update32():
    if data_poland_foodIndustry["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_poland"}, {'$set': {"value": data_poland_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_poland"}, {'$set': {"titles": {"title 1":data_poland_foodIndustry["articles"][0]["title"], "title 2":data_poland_foodIndustry["articles"][1]["title"], "title 3": data_poland_foodIndustry["articles"][2]["title"], "title 4": data_poland_foodIndustry["articles"][3]["title"], "title 5": data_poland_foodIndustry["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_poland"}, {'$set': {"value": data_poland_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_poland"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [90]:
def update33():
    if data_poland_forests["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"forests_poland"}, {'$set': {"value": data_poland_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_poland"}, {'$set': {"titles": {"title 1":data_poland_forests["articles"][0]["title"], "title 2":data_poland_forests["articles"][1]["title"], "title 3": data_poland_forests["articles"][2]["title"], "title 4": data_poland_forests["articles"][3]["title"], "title 5": data_poland_forests["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"forests_poland"}, {'$set': {"value": data_poland_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_poland"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [91]:
def update34():
    if data_poland_fashion["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_poland"}, {'$set': {"value": data_poland_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_poland"}, {'$set': {"titles": {"title 1":data_poland_fashion["articles"][0]["title"], "title 2":data_poland_fashion["articles"][1]["title"], "title 3": data_poland_fashion["articles"][2]["title"], "title 4": data_poland_fashion["articles"][3]["title"], "title 5": data_poland_fashion["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_poland"}, {'$set': {"value": data_poland_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_poland"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [92]:
def update35():
    if data_poland_transportation["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_poland"}, {'$set': {"value": data_poland_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_poland"}, {'$set': {"titles": {"title 1":data_poland_transportation["articles"][0]["title"], "title 2":data_poland_transportation["articles"][1]["title"], "title 3": data_poland_transportation["articles"][2]["title"], "title 4": data_poland_transportation["articles"][3]["title"], "title 5": data_poland_transportation["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_poland"}, {'$set': {"value": data_poland_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_poland"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [93]:
#UPDATING ITALY

In [94]:
def update36():
    if data_italy_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_italy"}, {'$set': {"value": data_italy_air["totalResults"]}}),
        UpdateOne({"ID":"air_italy"}, {'$set': {"titles": {"title 1":data_italy_air["articles"][0]["title"], "title 2":data_italy_air["articles"][1]["title"], "title 3": data_italy_air["articles"][2]["title"], "title 4": data_italy_air["articles"][3]["title"], "title 5": data_italy_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_italy"}, {'$set': {"value": data_italy_air["totalResults"]}}),
        UpdateOne({"ID":"air_italy"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [95]:
def update37():
    if data_italy_ocean["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_italy"}, {'$set': {"value": data_italy_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_italy"}, {'$set': {"titles": {"title 1":data_italy_ocean["articles"][0]["title"], "title 2":data_italy_ocean["articles"][1]["title"], "title 3": data_italy_ocean["articles"][2]["title"], "title 4": data_italy_ocean["articles"][3]["title"], "title 5": data_italy_ocean["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_italy"}, {'$set': {"value": data_italy_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_italy"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [96]:
def update38():
    if data_italy_co2Emission["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_italy"}, {'$set': {"value": data_italy_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_italy"}, {'$set': {"titles": {"title 1":data_italy_co2Emission["articles"][0]["title"], "title 2":data_italy_co2Emission["articles"][1]["title"], "title 3": data_italy_co2Emission["articles"][2]["title"], "title 4": data_italy_co2Emission["articles"][3]["title"], "title 5": data_italy_co2Emission["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_italy"}, {'$set': {"value": data_italy_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_italy"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [97]:
def update39():
    if data_italy_foodIndustry["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_italy"}, {'$set': {"value": data_italy_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_italy"}, {'$set': {"titles": {"title 1":data_italy_foodIndustry["articles"][0]["title"], "title 2":data_italy_foodIndustry["articles"][1]["title"], "title 3": data_italy_foodIndustry["articles"][2]["title"], "title 4": data_italy_foodIndustry["articles"][3]["title"], "title 5": data_italy_foodIndustry["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_italy"}, {'$set': {"value": data_italy_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_italy"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [98]:
def update40():
    if data_italy_forests["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"forests_italy"}, {'$set': {"value": data_italy_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_italy"}, {'$set': {"titles": {"title 1":data_italy_forests["articles"][0]["title"], "title 2":data_italy_forests["articles"][1]["title"], "title 3": data_italy_forests["articles"][2]["title"], "title 4": data_italy_forests["articles"][3]["title"], "title 5": data_italy_forests["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"forests_italy"}, {'$set': {"value": data_italy_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_italy"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [99]:
def update41():
    if data_italy_fashion["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_italy"}, {'$set': {"value": data_italy_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_italy"}, {'$set': {"titles": {"title 1":data_italy_fashion["articles"][0]["title"], "title 2":data_italy_fashion["articles"][1]["title"], "title 3": data_italy_fashion["articles"][2]["title"], "title 4": data_italy_fashion["articles"][3]["title"], "title 5": data_italy_fashion["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_italy"}, {'$set': {"value": data_italy_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_italy"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [100]:
def update42():
    if data_italy_transportation["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_italy"}, {'$set': {"value": data_italy_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_italy"}, {'$set': {"titles": {"title 1":data_italy_transportation["articles"][0]["title"], "title 2":data_italy_transportation["articles"][1]["title"], "title 3": data_italy_transportation["articles"][2]["title"], "title 4": data_italy_transportation["articles"][3]["title"], "title 5": data_italy_transportation["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_italy"}, {'$set': {"value": data_italy_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_italy"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [101]:
#UPDATING RUSSIA

In [102]:
def update43():
    if data_russia_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_russia"}, {'$set': {"value": data_russia_air["totalResults"]}}),
        UpdateOne({"ID":"air_russia"}, {'$set': {"titles": {"title 1":data_russia_air["articles"][0]["title"], "title 2":data_russia_air["articles"][1]["title"], "title 3": data_russia_air["articles"][2]["title"], "title 4": data_russia_air["articles"][3]["title"], "title 5": data_russia_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_russia"}, {'$set': {"value": data_russia_air["totalResults"]}}),
        UpdateOne({"ID":"air_russia"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [103]:
def update44():
    if data_russia_ocean["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_russia"}, {'$set': {"value": data_russia_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_russia"}, {'$set': {"titles": {"title 1":data_russia_ocean["articles"][0]["title"], "title 2":data_russia_ocean["articles"][1]["title"], "title 3": data_russia_ocean["articles"][2]["title"], "title 4": data_russia_ocean["articles"][3]["title"], "title 5": data_russia_ocean["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_russia"}, {'$set': {"value": data_russia_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_russia"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [104]:
def update45():
    if data_russia_co2Emission["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_russia"}, {'$set': {"value": data_russia_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_russia"}, {'$set': {"titles": {"title 1":data_russia_co2Emission["articles"][0]["title"], "title 2":data_russia_co2Emission["articles"][1]["title"], "title 3": data_russia_co2Emission["articles"][2]["title"], "title 4": data_russia_co2Emission["articles"][3]["title"], "title 5": data_russia_co2Emission["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_russia"}, {'$set': {"value": data_russia_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_russia"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [105]:
def update46():
    if data_russia_foodIndustry["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_russia"}, {'$set': {"value": data_russia_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_russia"}, {'$set': {"titles": {"title 1":data_russia_foodIndustry["articles"][0]["title"], "title 2":data_russia_foodIndustry["articles"][1]["title"], "title 3": data_russia_foodIndustry["articles"][2]["title"], "title 4": data_russia_foodIndustry["articles"][3]["title"], "title 5": data_russia_foodIndustry["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_russia"}, {'$set': {"value": data_russia_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_russia"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [106]:
def update47():
    if data_russia_forests["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"forests_russia"}, {'$set': {"value": data_russia_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_russia"}, {'$set': {"titles": {"title 1":data_russia_forests["articles"][0]["title"], "title 2":data_russia_forests["articles"][1]["title"], "title 3": data_russia_forests["articles"][2]["title"], "title 4": data_russia_forests["articles"][3]["title"], "title 5": data_russia_forests["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"forests_russia"}, {'$set': {"value": data_russia_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_russia"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [107]:
def update48():
    if data_russia_fashion["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_russia"}, {'$set': {"value": data_russia_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_russia"}, {'$set': {"titles": {"title 1":data_russia_fashion["articles"][0]["title"], "title 2":data_russia_fashion["articles"][1]["title"], "title 3": data_russia_fashion["articles"][2]["title"], "title 4": data_russia_fashion["articles"][3]["title"], "title 5": data_russia_fashion["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_russia"}, {'$set': {"value": data_russia_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_russia"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [108]:
def update49():
    if data_russia_transportation["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_russia"}, {'$set': {"value": data_russia_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_russia"}, {'$set': {"titles": {"title 1":data_russia_transportation["articles"][0]["title"], "title 2":data_russia_transportation["articles"][1]["title"], "title 3": data_russia_transportation["articles"][2]["title"], "title 4": data_russia_transportation["articles"][3]["title"], "title 5": data_russia_transportation["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_russia"}, {'$set': {"value": data_russia_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_russia"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [109]:
#UPDATING GREECE

In [110]:
def update50():
    if data_greece_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_greece"}, {'$set': {"value": data_greece_air["totalResults"]}}),
        UpdateOne({"ID":"air_greece"}, {'$set': {"titles": {"title 1":data_greece_air["articles"][0]["title"], "title 2":data_greece_air["articles"][1]["title"], "title 3": data_greece_air["articles"][2]["title"], "title 4": data_greece_air["articles"][3]["title"], "title 5": data_greece_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_greece"}, {'$set': {"value": data_greece_air["totalResults"]}}),
        UpdateOne({"ID":"air_greece"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [111]:
def update51():
    if data_greece_ocean["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_greece"}, {'$set': {"value": data_greece_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_greece"}, {'$set': {"titles": {"title 1":data_greece_ocean["articles"][0]["title"], "title 2":data_greece_ocean["articles"][1]["title"], "title 3": data_greece_ocean["articles"][2]["title"], "title 4": data_greece_ocean["articles"][3]["title"], "title 5": data_greece_ocean["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_greece"}, {'$set': {"value": data_greece_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_greece"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [112]:
def update52():
    if data_greece_co2Emission["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_greece"}, {'$set': {"value": data_greece_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_greece"}, {'$set': {"titles": {"title 1":data_greece_co2Emission["articles"][0]["title"], "title 2":data_greece_co2Emission["articles"][1]["title"], "title 3": data_greece_co2Emission["articles"][2]["title"], "title 4": data_greece_co2Emission["articles"][3]["title"], "title 5": data_greece_co2Emission["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_greece"}, {'$set': {"value": data_greece_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_greece"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [113]:
def update53():
    if data_greece_foodIndustry["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_greece"}, {'$set': {"value": data_greece_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_greece"}, {'$set': {"titles": {"title 1":data_greece_foodIndustry["articles"][0]["title"], "title 2":data_greece_foodIndustry["articles"][1]["title"], "title 3": data_greece_foodIndustry["articles"][2]["title"], "title 4": data_greece_foodIndustry["articles"][3]["title"], "title 5": data_greece_foodIndustry["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_greece"}, {'$set': {"value": data_greece_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_greece"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [114]:
def update54():
    if data_greece_forests["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"forests_greece"}, {'$set': {"value": data_greece_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_greece"}, {'$set': {"titles": {"title 1":data_greece_forests["articles"][0]["title"], "title 2":data_greece_forests["articles"][1]["title"], "title 3": data_greece_forests["articles"][2]["title"], "title 4": data_greece_forests["articles"][3]["title"], "title 5": data_greece_forests["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"forests_greece"}, {'$set': {"value": data_greece_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_greece"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [115]:
def update55():
    if data_greece_fashion["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_greece"}, {'$set': {"value": data_greece_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_greece"}, {'$set': {"titles": {"title 1":data_greece_fashion["articles"][0]["title"], "title 2":data_greece_fashion["articles"][1]["title"], "title 3": data_greece_fashion["articles"][2]["title"], "title 4": data_greece_fashion["articles"][3]["title"], "title 5": data_greece_fashion["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_greece"}, {'$set': {"value": data_greece_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_greece"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [116]:
def update56():
    if data_greece_transportation["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_greece"}, {'$set': {"value": data_greece_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_greece"}, {'$set': {"titles": {"title 1":data_greece_transportation["articles"][0]["title"], "title 2":data_greece_transportation["articles"][1]["title"], "title 3": data_greece_transportation["articles"][2]["title"], "title 4": data_greece_transportation["articles"][3]["title"], "title 5": data_greece_transportation["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_greece"}, {'$set': {"value": data_greece_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_greece"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [117]:
#UPDATING DENMARK

In [118]:
def update57():
    if data_denmark_air["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"air_denmark"}, {'$set': {"value": data_denmark_air["totalResults"]}}),
        UpdateOne({"ID":"air_denmark"}, {'$set': {"titles": {"title 1":data_denmark_air["articles"][0]["title"], "title 2":data_denmark_air["articles"][1]["title"], "title 3": data_denmark_air["articles"][2]["title"], "title 4": data_denmark_air["articles"][3]["title"], "title 5": data_denmark_air["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"air_denmark"}, {'$set': {"value": data_denmark_air["totalResults"]}}),
        UpdateOne({"ID":"air_denmark"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [119]:
def update58():
    if data_denmark_ocean["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_denmark"}, {'$set': {"value": data_denmark_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_denmark"}, {'$set': {"titles": {"title 1":data_denmark_ocean["articles"][0]["title"], "title 2":data_denmark_ocean["articles"][1]["title"], "title 3": data_denmark_ocean["articles"][2]["title"], "title 4": data_denmark_ocean["articles"][3]["title"], "title 5": data_denmark_ocean["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"ocean_denmark"}, {'$set': {"value": data_denmark_ocean["totalResults"]}}),
        UpdateOne({"ID":"ocean_denmark"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [120]:
def update59():
    if data_denmark_co2Emission["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_denmark"}, {'$set': {"value": data_denmark_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_denmark"}, {'$set': {"titles": {"title 1":data_denmark_co2Emission["articles"][0]["title"], "title 2":data_denmark_co2Emission["articles"][1]["title"], "title 3": data_denmark_co2Emission["articles"][2]["title"], "title 4": data_denmark_co2Emission["articles"][3]["title"], "title 5": data_denmark_co2Emission["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"co2Emission_denmark"}, {'$set': {"value": data_denmark_co2Emission["totalResults"]}}),
        UpdateOne({"ID":"co2Emission_denmark"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [121]:
def update60():
    if data_denmark_foodIndustry["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_denmark"}, {'$set': {"value": data_denmark_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_denmark"}, {'$set': {"titles": {"title 1":data_denmark_foodIndustry["articles"][0]["title"], "title 2":data_denmark_foodIndustry["articles"][1]["title"], "title 3": data_denmark_foodIndustry["articles"][2]["title"], "title 4": data_denmark_foodIndustry["articles"][3]["title"], "title 5": data_denmark_foodIndustry["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"foodIndustry_denmark"}, {'$set': {"value": data_denmark_foodIndustry["totalResults"]}}),
        UpdateOne({"ID":"foodIndustry_denmark"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [122]:
def update61():
    if data_denmark_forests["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"forests_denmark"}, {'$set': {"value": data_denmark_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_denmark"}, {'$set': {"titles": {"title 1":data_denmark_forests["articles"][0]["title"], "title 2":data_denmark_forests["articles"][1]["title"], "title 3": data_denmark_forests["articles"][2]["title"], "title 4": data_denmark_forests["articles"][3]["title"], "title 5": data_denmark_forests["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"forests_denmark"}, {'$set': {"value": data_denmark_forests["totalResults"]}}),
        UpdateOne({"ID":"forests_denmark"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [123]:
def update62():
    if data_denmark_fashion["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_denmark"}, {'$set': {"value": data_denmark_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_denmark"}, {'$set': {"titles": {"title 1":data_denmark_fashion["articles"][0]["title"], "title 2":data_denmark_fashion["articles"][1]["title"], "title 3": data_denmark_fashion["articles"][2]["title"], "title 4": data_denmark_fashion["articles"][3]["title"], "title 5": data_denmark_fashion["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"fashion_denmark"}, {'$set': {"value": data_denmark_fashion["totalResults"]}}),
        UpdateOne({"ID":"fashion_denmark"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [124]:
def update63():
    if data_denmark_transportation["totalResults"] >= 5:

        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_denmark"}, {'$set': {"value": data_denmark_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_denmark"}, {'$set': {"titles": {"title 1":data_denmark_transportation["articles"][0]["title"], "title 2":data_denmark_transportation["articles"][1]["title"], "title 3": data_denmark_transportation["articles"][2]["title"], "title 4": data_denmark_transportation["articles"][3]["title"], "title 5": data_denmark_transportation["articles"][4]["title"]} }})
        ])

    else:
        totalresults.bulk_write([
        UpdateOne({"ID":"transportation_denmark"}, {'$set': {"value": data_denmark_transportation["totalResults"]}}),
        UpdateOne({"ID":"transportation_denmark"}, {'$set': {"titles": "not enough articles available"}})
        ])

In [ ]:
testnumber = 1

In [125]:
fl = [update1, update2, update3, update4, update5, update6, update8, update9, update10, update11, update12, update13, update14, update15, update16, update17, update18, update19, update20, update21, update22, update23, update24, update25, update26, update27, update28, update29, update30, update31, update32, update33, update34, update35, update36, update37, update38, update39, update40, update41, update42, update43, update44, update45, update46, update47, update48, update49, update50, update51, update52, update53, update54, update55, update56, update57, update58, update59, update60, update61, update62, update63, update7]

In [218]:
[f() for f in fl]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
update1()

In [ ]:
update2()

In [ ]:
update3()

In [ ]:
update4()

In [ ]:
update5()

In [ ]:
update6()

In [ ]:
update7()

In [ ]:
totalresults.bulk_write([
    
    UpdateOne({"ID":"air_england"}, {'$set': {"value": data_england_air["totalResults"]}}),
    UpdateOne({"ID":"ocean_england"}, {'$set': {"value": data_england_ocean["totalResults"]}}),
    UpdateOne({"ID": "co2Emission_england"}, {'$set': {"value": data_england_co2Emission["totalResults"]}}),
    UpdateOne({'ID': "foodIndustry_england"}, {'$set': {'value': data_england_foodIndustry["totalResults"]}}),
    UpdateOne({'ID': "forests_england"}, {'$set': {'value': data_england_forests["totalResults"]}}),
    UpdateOne({'ID': "fashion_england"}, {'$set': {'value': data_england_fashion["totalResults"]}}),
    UpdateOne({'ID': "transportation_england"}, {'$set': {'value': data_england_transportation["totalResults"]}}),
    
    UpdateOne({"ID":"air_france"}, {'$set': {"value": data_france_air["totalResults"]}}),
    UpdateOne({"ID":"ocean_france"}, {'$set': {"value": data_france_ocean["totalResults"]}}),
    UpdateOne({"ID":"co2Emission_france"}, {'$set': {"value": data_france_co2Emission["totalResults"]}}),
    UpdateOne({'ID': "foodIndustry_france"}, {'$set': {'value': data_france_foodIndustry["totalResults"]}}),
    UpdateOne({'ID': "forests_france"}, {'$set': {'value': data_france_forests["totalResults"]}}),
    UpdateOne({'ID': "fashion_france"}, {'$set': {'value': data_france_fashion["totalResults"]}}),
    UpdateOne({'ID': "transportation_france"}, {'$set': {'value': data_france_transportation["totalResults"]}}),
    
    UpdateOne({"ID":"air_germany"}, {'$set': {"value": data_germany_air["totalResults"]}}),
    UpdateOne({"ID":"ocean_germany"}, {'$set': {"value": data_germany_ocean["totalResults"]}}),
    UpdateOne({"ID": "co2Emission_germany"}, {'$set': {"value": data_germany_co2Emission["totalResults"]}}),
    UpdateOne({'ID': "foodIndustry_germany"}, {'$set': {'value': data_germany_foodIndustry["totalResults"]}}),
    UpdateOne({'ID': "forests_germany"}, {'$set': {'value': data_germany_forests["totalResults"]}}),
    UpdateOne({'ID': "fashion_germany"}, {'$set': {'value': data_germany_fashion["totalResults"]}}),
    UpdateOne({'ID': "transportation_germany"}, {'$set': {'value': data_germany_transportation["totalResults"]}}),
    
    
    UpdateOne({"ID":"air_spain"}, {'$set': {"value": data_spain_air["totalResults"]}}),
    UpdateOne({"ID":"ocean_spain"}, {'$set': {"value": data_spain_ocean["totalResults"]}}),
    UpdateOne({"ID": "co2Emission_spain"}, {'$set': {"value": data_spain_co2Emission["totalResults"]}}),
    UpdateOne({'ID': "foodIndustry_spain"}, {'$set': {'value': data_spain_foodIndustry["totalResults"]}}),
    UpdateOne({'ID': "forests_spain"}, {'$set': {'value': data_spain_forests["totalResults"]}}),
    UpdateOne({'ID': "fashion_spain"}, {'$set': {'value': data_spain_fashion["totalResults"]}}),
    UpdateOne({'ID': "transportation_spain"}, {'$set': {'value': data_spain_transportation["totalResults"]}}),
    
    UpdateOne({"ID":"air_poland"}, {'$set': {"value": data_poland_air["totalResults"]}}),
    UpdateOne({"ID":"ocean_poland"}, {'$set': {"value": data_poland_ocean["totalResults"]}}),
    UpdateOne({"ID": "co2Emission_poland"}, {'$set': {"value": data_poland_co2Emission["totalResults"]}}),
    UpdateOne({'ID': "foodIndustry_poland"}, {'$set': {'value': data_poland_foodIndustry["totalResults"]}}),
    UpdateOne({'ID': "forests_poland"}, {'$set': {'value': data_poland_forests["totalResults"]}}),
    UpdateOne({'ID': "fashion_poland"}, {'$set': {'value': data_poland_fashion["totalResults"]}}),
    UpdateOne({'ID': "transportation_poland"}, {'$set': {'value': data_poland_transportation["totalResults"]}}),
    
    
    UpdateOne({"ID":"air_italy"}, {'$set': {"value": data_italy_air["totalResults"]}}),
    UpdateOne({"ID":"ocean_italy"}, {'$set': {"value": data_italy_ocean["totalResults"]}}),
    UpdateOne({"ID": "co2Emission_italy"}, {'$set': {"value": data_italy_co2Emission["totalResults"]}}),
    UpdateOne({'ID': "foodIndustry_italy"}, {'$set': {'value': data_italy_foodIndustry["totalResults"]}}),
    UpdateOne({'ID': "forests_italy"}, {'$set': {'value': data_italy_forests["totalResults"]}}),
    UpdateOne({'ID': "fashion_italy"}, {'$set': {'value': data_italy_fashion["totalResults"]}}),
    UpdateOne({'ID': "transportation_italy"}, {'$set': {'value': data_italy_transportation["totalResults"]}}),
    
    UpdateOne({"ID":"air_russia"}, {'$set': {"value": data_russia_air["totalResults"]}}),
    UpdateOne({"ID":"ocean_russia"}, {'$set': {"value": data_russia_ocean["totalResults"]}}),
    UpdateOne({"ID": "co2Emission_russia"}, {'$set': {"value": data_russia_co2Emission["totalResults"]}}),
    UpdateOne({'ID': "foodIndustry_russia"}, {'$set': {'value': data_russia_foodIndustry["totalResults"]}}),
    UpdateOne({'ID': "forests_russia"}, {'$set': {'value': data_russia_forests["totalResults"]}}),
    UpdateOne({'ID': "fashion_russia"}, {'$set': {'value': data_russia_fashion["totalResults"]}}),
    UpdateOne({'ID': "transportation_russia"}, {'$set': {'value': data_russia_transportation["totalResults"]}}),
    
    
    UpdateOne({"ID":"air_greece"}, {'$set': {"value": data_greece_air["totalResults"]}}),
    UpdateOne({"ID":"ocean_greece"}, {'$set': {"value": data_greece_ocean["totalResults"]}}),
    UpdateOne({"ID": "co2Emission_greece"}, {'$set': {"value": data_greece_co2Emission["totalResults"]}}),
    UpdateOne({'ID': "foodIndustry_greece"}, {'$set': {'value': data_greece_foodIndustry["totalResults"]}}),
    UpdateOne({'ID': "forests_greece"}, {'$set': {'value': data_greece_forests["totalResults"]}}),
    UpdateOne({'ID': "fashion_greece"}, {'$set': {'value': data_greece_fashion["totalResults"]}}),
    UpdateOne({'ID': "transportation_greece"}, {'$set': {'value': data_greece_transportation["totalResults"]}}),
    
    
    UpdateOne({"ID":"air_denmark"}, {'$set': {"value": data_denmark_air["totalResults"]}}),
    UpdateOne({"ID":"ocean_denmark"}, {'$set': {"value": data_denmark_ocean["totalResults"]}}),
    UpdateOne({"ID": "co2Emission_denmark"}, {'$set': {"value": data_denmark_co2Emission["totalResults"]}}),
    UpdateOne({'ID': "foodIndustry_denmark"}, {'$set': {'value': data_denmark_foodIndustry["totalResults"]}}),
    UpdateOne({'ID': "forests_denmark"}, {'$set': {'value': data_denmark_forests["totalResults"]}}),
    UpdateOne({'ID': "fashion_denmark"}, {'$set': {'value': data_denmark_fashion["totalResults"]}}),
    UpdateOne({'ID': "transportation_denmark"}, {'$set': {'value': data_denmark_transportation["totalResults"]}}),

])